<legend>
    <div class="page-header">
        <h1>{{ label }}
            <small>{{ description }}</small>
            {{#if explanation }}
            <a class="btn btn-small" data-title="Help" data-content="{{ explanation }}"><i
                    class="icon-question-sign"></i></a>
            {{/if}}
        </h1>
    </div>
</legend>
<div class="control-content">
</div>
<div class="form-actions">
    <button type="button" class="btn btn-primary">Save changes</button>
    <button type="button" class="btn btn-reset">Reset</button>
</div>
