{{#if core}}
<li class="nav-header"><i class="icon-globe icon-white"></i> General</li>
{{#each core}}
<li data-name="{{ name }}"><a href="#">{{ label }}</a></li>
{{/each}}
{{/if}}
<li class="divider"></li>
<li class="nav-header"><i class="icon-th-large icon-white"></i> Addons</li>
{{#each addon }}
<li class="addon" data-name="{{ name }}">
  <a href="#" style="background-image: url({{ pluginIcon name }});">
    {{ label }}
    <i class="icon-remove pull-right"></i>
    {{#if activated }}
    <div class="addon-on">
      active
      {{else}}
      <div class="addon-off">
        inactive
        {{/if}}
        {{#if user_context }}
        <!--{# TODO: tooltip #}-->
        <i class="icon-user pull-right"></i>
        {{else}}
        <i class="icon-globe pull-right"></i>
        {{/if}}
      </div>
  </a>
</li>
{{/each}}
<li class="divider"></li>
<li class="nav-header"><i class="icon-th-list icon-white"></i> Plugin Configs</li>
{{#each plugin }}
<li class="plugin" data-name="{{ name }}">
  <a style="background-image: url({{ pluginIcon name }});">
    {{ label }}
    <i class="icon-remove pull-right"></i>
  </a>
</li>
{{/each}}
