{% extends 'base.html' %} {% block head %}
<script
  type="text/javascript"
  src="{{theme_template('js/dashboard.js')}}"
></script>
{% endblock %} {% block subtitle %} {{_("Active Connections")}} {% endblock %}
{% block menu %}
<li class="selected">
  <a href="{{url_for('app.dashboard')}}" title=""
    ><img
      src="{{url_for('static', filename='img/head-menu-home.png')}}"
      alt=""
    />
    {{_("Dashboard")}}</a
  >
</li>
<li>
  <a href="{{url_for('app.queue')}}" title=""
    ><img
      src="{{url_for('static', filename='img/head-menu-queue.png')}}"
      alt=""
    />
    {{_("Queue")}}</a
  >
</li>
<li>
  <a href="{{url_for('app.collector')}}" title=""
    ><img
      src="{{url_for('static', filename='img/head-menu-collector.png')}}"
      alt=""
    />
    {{_("Packages")}}</a
  >
</li>
<li>
  <a href="{{url_for('app.files')}}" title=""
    ><img
      src="{{url_for('static', filename='img/head-menu-development.png')}}"
      alt=""
    />
    {{_("Files")}}</a
  >
</li>
<!-- <li> -->
<!-- <a href="/filemanager" title=""><img src="{{url_for('static', filename='img/head-menu-download.png')}}" alt="" /> {{_("File Manager")}}</a> -->
<!-- </li> -->
<li class="right">
  <a href="{{url_for('app.logs')}}" class="action index" accesskey="x" rel="nofollow"
    ><img
      src="{{url_for('static', filename='img/head-menu-index.png')}}"
      alt=""
    />{{_("Logs")}}</a
  >
</li>
<li class="right">
  <a href="{{url_for('app.settings')}}" class="action index" accesskey="x" rel="nofollow"
    ><img
      src="{{url_for('static', filename='img/head-menu-config.png')}}"
      alt=""
    />{{_("Settings")}}</a
  >
</li>
{% endblock %} {% block content %}
<table width="100%" class="queue">
  <thead>
    <tr class="header">
      <th>{{_("Name")}}</th>
      <th>{{_("Status")}}</th>
      <th>{{_("Info")}}</th>
      <th>{{_("Size")}}</th>
      <th>{{_("Progress")}}</th>
    </tr>
  </thead>
  <tbody id="LinksAktiv">
    {% for link in content %}
    <tr id="link_{{ link.id }}">
      <td id="link_{{ link.id }}_name">{{ link.name }}</td>
      <td id="link_{{ link.id }}_status">{{ link.status }}</td>
      <td id="link_{{ link.id }}_info">{{ link.info }}</td>
      <td id="link_{{ link.id }}_bleft">{{ link.format_size }}</td>
      <td>
        <span id="link_{{ link.id }}_percent"
          >{{ link.percent }}% /{{ link.bleft }}</span
        >
        <img
          id="link_{{ link.id }}_remove"
          style="
            vertical-align: middle;
            margin-right: -20px;
            margin-left: 5px;
            margin-top: -2px;
            cursor: pointer;
          "
          src="{{url_for('static', filename='img/control-cancel.png')}}"
        />
      </td>
    </tr>
    <tr id="link_{{ link.id }}_pgb_tr">
      <td colspan="5">
        <div
          id="link_{{ link.id }}_pgb"
          class="progressBar"
          style="background-color: green; height:4px; width: {{ link.percent }}%;"
        >
          &nbsp;
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
