<li class="folder">
  <input type="hidden" name="path" class="path" value="{{ path }}" />
  <input type="hidden" name="name" class="name" value="{{ name }}" />
  <span>
    <b>{{ name }}</b>
    <span class="buttons" style="opacity:0">
      <img title="{{_("Rename Directory")}}" class="rename" style="cursor: pointer" height="12px" src="{{url_for('static', filename='img/pencil.png')}}" />
      &nbsp;&nbsp;
      <img title="{{_("Delete Directory")}}" class="delete" style="margin-left: -10px; cursor: pointer" width="12px" height="12px" src="{{url_for('static', filename='img/delete.png')}}" />
      &nbsp;&nbsp;
      <img title="{{_("Add subdirectory")}}" class="mkdir" style="margin-left: -10px; cursor: pointer" width="12px" height="12px" src="{{url_for('static', filename='img/add_folder.png')}}" />
    </span>
  </span>
  <div style="display:none">{{ _("Folder is empty") }}</div>
</li>