{% extends 'base.html' %}
{% set no_status_polling = 1 %}

{% block title %}{{_("Login")}} - {{super()}} {% endblock %}

{% block content %}

<div class="centeralign">
<form action="" method="post" accept-charset="utf-8" id="login">
    <div class="no">
        <input type="hidden" name="do" value="login" />
        <fieldset>
        <legend>Login</legend>
        <label>
            <span>{{_("Username")}}</span>
            <input type="text" size="20" name="username" />
        </label>
        <br />
        <label>
            <span>{{_("Password")}}</span>
            <input type="password" size="20" name="password" />
        </label>
        <br />
        <input type="submit" value="Login" class="button" />
        </fieldset>
    </div>
</form>

{% if errors %}
<p>{{_("Your username and password didn't match. Please try again.")}}</p>
  {{ _("To reset default admin login run:") }} <b>pyload -r</b>
{% endif %}

</div>
<br>

{% endblock %}
