
#queue-list {
	list-style: none;
	padding-left: 0;
}

#page-actions{
	list-style: none;
}

.pack{
    border: 2px solid #CFCFCF;
    padding: 0;
}

.pack_header{
	background-color: #CFCFCF;
	cursor: pointer;
    border: 2px solid #CFCFCF;
    margin: 0px;
	height: 25px;

}

.pack_icon{
	display:inline-block;
	cursor: move; 
	height:20px;
	margin: 2px 7px;
	padding: 0 0 0 20px;
	background: url("../../img/default/icon_folder.png")no-repeat;
}

.pack_name{
	display:inline-block;
	
	top:0px;
	margin: 0;
	padding:0;
	color: #000000;
}

.pack_progressbar_wrapper{
	display:inline-block;
	vertical-align: middle;
	height:9px;
	width:50%;
	right:15%;
	margin-top: 6px;
	position:absolute;
}

.pack_progressbar{
	display:block;
	width:100%;
    height: inherit;
	text-align: center;
	margin: 0;
}

.pack_toolbar{
	display:inline-block;
	height:inherit;
	right:0;
	margin: 0;

}

.pack_toolbar  div{
	height: 20px;
	float: left;
	padding-left: 22px;
}

.pack_toolbar_delete {
	background: url("../../img/default/delete.png")no-repeat;
}

.pack_toolbar_restart {
	background: url("../../img/default/arrow_refresh.png")no-repeat;
}

.pack_toolbar_edit{
	background: url("../../img/default/pencil.png")no-repeat;
}

.pack_children{
	display: none;
}

.sort_children{
	list-style: none; 
	padding-left: 0;
}