@import "style.less";

/*
	Settings
*/
.settings-menu {
background-color: #fef8d1;
}

.setting-box {

  border-color: @lighterblue;
  background-color: #fef8d1;

  .page-header {
    margin: 0;

		.btn {
      float: right;
      margin-top: 5px;
    }

  }
	.form-actions_custom {
    border-top: 1px solid #E5E5E5;
    margin-bottom: 20px;
    margin-top: 20px;
    /*padding: 19px 20px 20px;*/
}

}
