<ul class="actionbar nav span8 offset3">
  <li class="pull-left">
    <ul class="breadcrumb">
      {{#each pages}}
      <li>
        <a href="#" class="{{#ifEq ../page @index}}active {{/ifEq}}select-page"
           data-page="{{@index}}">{{this}}</a>
        {{#ifEq ../max @index}}

        {{else}}
          <span class="divider">
            <i class="icon-long-arrow-right"></i>
          </span>
        {{/ifEq}}
      </li>
      {{/each}}
    </ul>
  </li>
  <li class="pull-right">
    <select>
      <option>en</option>
    </select>
  </li>
</ul>
