<div class="span2 offset1">
</div>
<ul class="actionbar nav nav-pills span9">
  <li class="li-check">
    <a href="#"><i class="icon-check-empty btn-check"></i></a>
  </li>

  <li>
    <ul class="breadcrumb">
      <li><a href="#">{{_ "Local"}}</a> <span class="divider">/</span></li>
      <li class="active"></li>
    </ul>
  </li>

  <li style="float: right;">
    <form class="form-search" action="#">
      <div class="input-append">
        <input type="text" class="search-query" style="width: 120px">
        <button type="submit" class="btn">{{ _ "Search" }}</button>
      </div>
    </form>
  </li>
  <li class="dropdown" style="float: right;">
    <a class="dropdown-toggle type"
       data-toggle="dropdown"
       href="#">
      {{_ "Type" }}
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a class="filter-type" data-type="2" href="#"><i class="icon-ok"></i>&nbsp;Audio</a></li>
      <li><a class="filter-type" data-type="4" href="#"><i class="icon-ok"></i>&nbsp;Image</a></li>
      <li><a class="filter-type" data-type="8" href="#"><i class="icon-ok"></i>&nbsp;Video</a></li>
      <li><a class="filter-type" data-type="16" href="#"><i class="icon-ok"></i>&nbsp;Document</a></li>
      <li><a class="filter-type" data-type="32" href="#"><i class="icon-ok"></i>&nbsp;Archive</a></li>
      <li><a class="filter-type" data-type="64" href="#"><i class="icon-ok"></i>&nbsp;Executable</a></li>
      <li><a class="filter-type" data-type="1" href="#"><i class="icon-ok"></i>&nbsp;Other</a></li>
    </ul>
  </li>
  <li class="dropdown" style="float: right;">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">
      <span class="state">
         {{ _ "All" }}
      </span>
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a class="filter-state" data-state="0" href="#">{{ _ "All" }}</a></li>
      <li><a class="filter-state" data-state="1" href="#">{{ _ "Finished" }}</a></li>
      <li><a class="filter-state" data-state="2" href="#">{{ _ "Unfinished" }}</a></li>
      <li><a class="filter-state" data-state="3" href="#">{{ _ "Failed" }}</a></li>
    </ul>
  </li>
</ul>
