<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label">
      Username
    </label>

    <div class="controls">
      <input type="text" id="username" placeholder="User" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">
      Password
    </label>

    <div class="controls">
      <input type="password" id="password">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">
      Password (again)
    </label>

    <div class="controls">
      <input type="password" id="password2">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
        <a class="btn btn-blue">Submit</a>
    </div>
  </div>
</form>
