*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib/*
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# ignoreing unneeded files, using glob syntax
*~
*.pidaproject
.svn
*.DS_Store
*.egg-info
*.project
*.pydevproject
Downloads/*
container/*
Logs/*
docs/module/
docs/pyload/
docs/_build
DLC.py
links.txt
ssl.crt
ssl.key
cert.pem
*.prefs
*.orig
*.rej
dist/*
build/*
env/*
node_modules
temp
dist
.tmp
.sass-cache
app/components
