# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted
# to native line endings on checkout.
*.bat text
*.c text
*.cfg text
*.cmd text
*.coffee text
*.conf text
*.htm text
*.html text
*.in text
*.js text
*.json text
*.md text
*.po text
*.pot text
*.py text
*.rst text
*.sh text
*.thrift text
*.txt text
*.xml text
*.yaml text

# Denote all files that are truly binary and should not be modified.
*.gif binary
*.ico binary
*.jpg binary
*.mo binary
*.pyc binary
*.pyx binary
*.png binary
*.rar binary
*.svg binary
*.zip binary
