# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted
# to native line endings on checkout.
*.py text
*.js text
*.po text
*.cfg text
*.md text
*.in text
*.txt text
*.sh text
*.json text
*.html text
.htm text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.mo binary