# Packages
bin/*
build/*
dist/*
env/*
lib/*
lib64/*
parts/*
var/*
sdist/*

# Common pyLoad directories
Downloads/*
Logs/*
docs/_build/*
docs/module/*
docs/pyload/*
#module/*
pyload/*

# Common MacOS & Windows files
*.DS_Store
Thumbs.db
desktop.ini

# Temp stuff
__pycache__
.tmp
temp

# Installers stuff
.installed.cfg
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Compiled files
*.so
#*.py[cod]

# EGG
*.egg
*.egg-info
develop-eggs
eggs

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# PyCharm
.idea

# Other development files
.svn
*~
*.orig
*.pidaproject
*.prefs
*.project
*.pydevproject
*.rej
DLC_*.py
paver-minilib.zip

# Certificates
cert.pem
ssl.crt
ssl.key

# Common pyLoad files
*_links.txt
links.txt
module/config/core.xml
module/config/gui.xml
module/config/plugin.xml
module/web/pyload.db
#pyload/config/core.xml
#pyload/config/gui.xml
#pyload/config/plugin.xml
#pyload/web/pyload.db
