sudo: false
language: python
group: travis_latest

git:
  depth: 3
  quiet: true
  submodules: false
  lfs_skip_smudge: true

branches:
  only:
    - master
    - develop
    - /^v[\d.]+/

stages:
  - check
  - test
  - deploy

# NOTE: this must be set to latest stable python version
python: 3.7
# NOTE: this must be set to latest supported ubuntu version
dist: xenial

before_cache: rm -f "$HOME/.cache/pip/log/debug.log"
cache: pip

install: pip install --upgrade tox tox-travis
script: tox --sitepackages

jobs:
  # fast_finish: true

  allow_failures:
    - stage: deploy
    - name: Pylint Errors
    - name: Bandit Errors
    - python: nightly
    - python: pypy3
    - os: osx
    - os: windows

  include:
    - stage: check
      name: Compile Errors
      script: tox -e compileall

    - stage: check
      name: Pylint Errors
      script: tox -e pylint --sitepackages

    - stage: check
      name: Bandit Errors
      script: tox -e bandit

    - stage: test
      os: linux
      python: 3.6

    - stage: test
      os: linux
      # python: $TRAVIS_PYTHON_VERSION

    - stage: test
      os: linux
      python: nightly

    - stage: test
      os: linux
      python: pypy3

    # NOTE: work-around to test Python on OSX (not supported officially)
    - stage: test
      os: osx
      language: sh
      env:
        - TOXENV=py3
        - HOMEBREW_NO_INSTALL_CLEANUP=1
        - HOMEBREW_NO_ANALYTICS=1
      before_cache:
        # - brew cleanup
        - rm -f "$HOME/Library/Caches/pip/log/debug.log"
      cache:
        directories:
          # - "$HOME/Library/Caches/Homebrew"
          - "$HOME/Library/Caches/pip"
      addons:
        homebrew:
          # update: true
          packages: python3
      before_install:
        - python3 -m pip install --upgrade virtualenv
        - virtualenv -p python3 --system-site-packages "$HOME/venv"
        - source "$HOME/venv/bin/activate"

    # NOTE: work-around to test Python on Windows (not supported officially)
    - stage: test
      os: windows
      language: sh
      env:
        - TOXENV=py3
        - PATH="/c/Python37:/c/Python37/Scripts:$PATH"
      before_cache: rm -f "$LOCALAPPDATA/pip/Cache/log/debug.log"
      cache:
        directories: "$LOCALAPPDATA/pip/Cache"
      # addons:
        # chocolatey:
          # update: true
          # packages: python3
      before_install: choco install -y python3

    - stage: deploy
      name: Github Release
      if: branch = master AND tag IS present
      install: pip install --upgrade Babel Jinja2 wheel
      script: python setup.py sdist build_locale bdist_wheel
      deploy:
        provider: releases
        api-key:
          secure: "LDbvOV6EIV2itKUOSQE24RctMJTj7trF8eRQIMQJFa50W/fT03HpHiRVzhddUo4UadzAy5XNm5fRZY5AMNOomQk023mHwTUuPIhQDLVl1Esati7OZpekhKE1v4+sbLfVvvv+rRuDfcn+qjiZ358UU6D4SuZ4zClu6hUxnt0Qc70="
        file_glob: true
        file: dist/*
        skip_cleanup: true
        # prerelease: true
        on:
          repo: pyload/pyload
          # branch: master
          # tags: true

    - stage: deploy
      name: PyPI Release
      if: branch = master
      env: PYLOAD_DEVBUILD="$TRAVIS_BUILD_NUMBER"
      install: pip install --upgrade Babel Jinja2 readme_renderer[md]
      script: true
      deploy:
        provider: pypi
        user:
          secure: "IDWPXbVVMr9/sZOb5/p9bXTvq//EGuzQWM4CnQOm2G4mfaX0ssr7+4w+wweJgI9UJFIcoHmvYC0cjljCleSW1j+1G3GO7whInLUuD63Vt1iA8H4UIvg4JYcTwGZQ9R/PWoW0k5MHems0picgA3cMw/9VBfl3IUraGb6+2QdxpHY="
        password:
          secure: "eoe3SLOEa0Z7UxJI905InCzHatdDigIBt/fl7b6kOHy76IYU3e5lZ/c6urGJBOsy+1LN6vPHvWmVVw/vhevfTd8MM6i0cGXo23zIefYAU2zkjKejWyF2/tke6spngikC1vzEyANs9fNFLXU4USCfgr1lCvuuy9Znwl/sI6jqVTg="
        distributions: "sdist build_locale bdist_wheel"
        # skip_cleanup: true
        skip_existing: true
        on:
          repo: pyload/pyload
          # branch: master

    - stage: deploy
      name: Docker Release
      if: branch = master
      env:
        - PYLOAD_DEVBUILD="$TRAVIS_BUILD_NUMBER"
        - secure: "dtCGQHfYizfV/u3nZ9lQZcNsb2eJrvCarJaZAuerOllqlsPzfpFFVJVmDpkwaCjs8qEEvflQOPO0o/uonUKQOSmWdcQaqmtMlRZ3JZEENWXAnLJDy/lfBflrR+An47vS5oNQ9bNcLMM7GBFbOxcXFGK6zScXnS2g8erXqymN46M="
        - secure: "TrWBa99CnrnJ/FYKhq20EYAhbjlLXVExQu5ScZczDYzVZYV1rLzENInyc8L7JVU1A6vSJ4lIKZ+BYMk03hSMSU8wIQPrKaKHLBfjgX6hww9gBHIdfhnM9yVhBS8NM+jwmGQBotFjiRsQVCg1Jhtd9YwpjCO6Gj4UBmNfxXt52tw="
      addons:
        apt:
          update: true
          packages: docker-ce
      services: docker
      install: pip install --upgrade docker-ci-deploy
      before_script: docker pull pyload/pyload || true
      script:
        - docker build --pull --cache-from pyload/pyload:latest-slim --tag pyload/pyload:slim .
        - docker build --file Dockerfile.alpine --pull --cache-from pyload/pyload:latest-alpine --tag pyload/pyload:alpine .
      after_script: docker images
      before_deploy:
        - docker run pyload/pyload
        - docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD"
      deploy:
        - provider: script
          script:
            - dcd --tag slim --version "${TRAVIS_TAG#v}" pyload/pyload:slim
            - dcd --tag alpine --version "${TRAVIS_TAG#v}" pyload/pyload:alpine
          skip_cleanup: true
          on:
            # branch: master
            tags: true
        - provider: script
          script:
            - dcd --tag latest-slim -tag latest pyload/pyload:slim
            - dcd --tag latest-alpine pyload/pyload:alpine
          skip_cleanup: true
          # on:
            # branch: master

# after_success:
  # - if [[ "$COVERAGE" == "true" ]]; then coveralls || echo "failed"; fi
