sudo: required
language: python
branches:
  only:
    - master
    - /^v\d+\.\d+\.\d+$/
python:
  - 2.6
  - 2.7
  - 3.3
  - 3.4
  - 3.5
  - 3.6
  - nightly
  - pypy
  # - pypy3
matrix:
  allow_failures:
    - 2.6
    - nightly
    - pypy
    # - pypy3
  fast_finish: true
cache: pip
before_install:
  - sudo apt-get -qq update
  - sudo apt-get -qq install pandoc
  # - sudo apt-get -qq install python-pycurl
install:
  - pip install -U setuptools
  - pip install pypandoc
  - pip install requests
  # - pip install scrutinizer-ocular
  - pip install tox-travis
  # - pip install travis-bump-version
script: tox --skip-missing-interpreters
after_script: tox -e issues
# after_success: ocular
before_deploy: test $TRAVIS_TEST_RESULT -eq 0
deploy:
  - provider: pypi
    user:
      secure: "BJmH9b6aZHUM+TOo31l8s7VJyCxRH8vARo+0PZh02/DHiTIi/cisJsW4rWJHSBagjCRsnVRu/JASN0/WwJRDMUNbH+BuoVcPVH+X//Zm5RVbSffSL0ldgstGJ1btTtN2SXBIExydgfKqiyik8bl0x/eFbcM/rlEP00Ng7YEgS+X17Zgb/qnHSGV2bq29MMRlM7YP8wIhaT6g3FEn7HfVXuYmUqZ5TTL5yNTJZfc+m8Pm0abTokwb2X6hwEsLvigPWfNpc6PemyIIgQ/rix80KQ0RfmiT6z/8ItiCRJTuUpPlGk41h2PcimVznrPwEyT5QIACPB6LArBbW9RNZl+4bhYhJRI07N8FCpgoRlIkEGbIny3oqC7AnZdyyix2freVCsnWmdRsJGWo7YnmcrGDvPsVF/l4Kf7mCB9E9wK13UREMqDiCcGCzrQcPMF6yTPbz1aI49YscKdHCJKdcLiiVvF3ePT39razshf6FZJWraCDUdKCHsH5NuMO6yy5at57Xpxe60TnTZGKesW+cvvDJB2uMj95cYgkS5OOfq/OFK5bU9uX5mXshhOKYlFA65Aw5NWNeZg0wvCHMurOmEq+/1HMT13FUk3r+pvuvMvQyYhg8giXZQP3BK+5zJA1HliJpXjU92sS28tNdiJNzK1UbbguN9VkMXTp+sa2sxFU/BE="
    password:
      secure: "JAYIdAanTG3sFDpIMqqKKoqKrSPzZbIwYi5d+ZC7ukGBywLz0OiVO/OKENCnPcmLYvKdnNHlCirPXWSVmcuKo/3Ba4UEjg8N3lkgXIephxIRs5d9oP6k8ANQICgOCf/BdMQJj/kTnmNmI5tWTfW9rjYze57/VTMqpRaWaMp4c4mfv9doLD/+3wUnaJVHj784I0goTp1iLvaL8kjwyvdqlIhev1R4NbYuWm0Ogvm0ziBSHA1vTNz6R+gNfvKLHvN3Q6twqWPJiI2DUOHt9dHlykcjLrFLWypLfXh/vEonK7BBVR/kcL3kVFhaUIu/Cf+mviuxJXHMjzXJzIw8Tor8/xNuBavxWORC+GIGElh++GVxCwXstE7jTSXdr4JpdIRXWWT9q17bFljNLP1faszUN2/JVmeB/JDw/xhFD9oZr7UY1oz75FB/0mQhaNzM2DIomXR6POg7il0jGD9mcA3nCI1hcLZqdHlP46JrWUUHNhXmkT2p5nDyGQlLcenHfQdM1vYAaRlwX9c+UsFL1Orbl5KxI2qGIrUegkJSxJ0aCSYhmi2QMdSVw35EVAVKVMkmtq+X2YYXFyOxJgk+2GPWXIYOciThHSdMjroJxr3a+dZgfKda8YX6PUcg2TFScDsGX4Fia/siPadYpWDRNT8Jvr+jAzWs0DUNuwk4GSSzA7w="
    distributions: sdist bdist_wheel
    skip_cleanup: true
    skip_upload_docs: true
    on:
      python: 3.5
      tags: true
  - provider: releases
    api-key: "Xif4FGNCk0LGOMZSuleRwXoYblBWD9/tyTlZz/dJ6wVAF7y2sPVe5NmhDHHN/ky0fc34B7vRNNUUpp3gnwMIq3zkUtM5k3TKZZjoR+5NJmSrHThuaV9DLgNdCBNBlzvuXCyuGzT/iKdaU3LPngUaz56rS6ODEB9HN/MZYB0G6ZTGT/ywAhsLHvGZgIUfYgavI3NCB740DdAPRMiiJEIRPlPO4O1ZJa5KCQVvpE2Pu4Bn+aBzFlf/Gah+MClcqyCxL8sYr076CmKxPdn04dwH6oq2sj+LshUNw7jljde0L9WxY/dQjARhIx3kuiZzENtJ97tNxDAW++kjZ/6JkVbXVkszkawQbpbSrar+ZqD+RokP1DOb0+WUtF6AEEg6xVK9roeI/bwCkjYS1R1V0X+IcBw7yuC+5b2NUFEGclAvrTZEmiwd+qlHPoQ/M/mzfGY1tWnedx8vBTH+vId5U9K7WkM+AR0oZzYNHRoSl0UZlD0Atb4ZBEHKjZbe5vp8hW2lAskbsVlYzxDXh5MM3pNnIeXI7/VUL1BenfaQ1z/Zq0Owg8Gi64sYOmuO3UaZsJLYSYlypThgau4+H4BDfA3u2O2ZnW+6tTKPhiKBglMNaiMvdeFXtS62rOJW5au/69cGJPXB+9Ypxai08vmrG+piH2oxgPS+cyrvRR4PW4yfDAU="
    file_glob: true
    file: dist/*
    skip_cleanup: true
    on:
      python: 3.5
      tags: true
# after_deploy: travis-bump-version --api-token "Xif4FGNCk0LGOMZSuleRwXoYblBWD9/tyTlZz/dJ6wVAF7y2sPVe5NmhDHHN/ky0fc34B7vRNNUUpp3gnwMIq3zkUtM5k3TKZZjoR+5NJmSrHThuaV9DLgNdCBNBlzvuXCyuGzT/iKdaU3LPngUaz56rS6ODEB9HN/MZYB0G6ZTGT/ywAhsLHvGZgIUfYgavI3NCB740DdAPRMiiJEIRPlPO4O1ZJa5KCQVvpE2Pu4Bn+aBzFlf/Gah+MClcqyCxL8sYr076CmKxPdn04dwH6oq2sj+LshUNw7jljde0L9WxY/dQjARhIx3kuiZzENtJ97tNxDAW++kjZ/6JkVbXVkszkawQbpbSrar+ZqD+RokP1DOb0+WUtF6AEEg6xVK9roeI/bwCkjYS1R1V0X+IcBw7yuC+5b2NUFEGclAvrTZEmiwd+qlHPoQ/M/mzfGY1tWnedx8vBTH+vId5U9K7WkM+AR0oZzYNHRoSl0UZlD0Atb4ZBEHKjZbe5vp8hW2lAskbsVlYzxDXh5MM3pNnIeXI7/VUL1BenfaQ1z/Zq0Owg8Gi64sYOmuO3UaZsJLYSYlypThgau4+H4BDfA3u2O2ZnW+6tTKPhiKBglMNaiMvdeFXtS62rOJW5au/69cGJPXB+9Ypxai08vmrG+piH2oxgPS+cyrvRR4PW4yfDAU=" --repo $TRAVIS_REPO_SLUG VERSION
notifications:
  webhooks:
    urls:
      - secure: "kxox4nWtRBQSQurR7V1O3Q/LAtAXdr1zx2KjuFXAZ7TuEFhCdvOOrRbicRMkM62qEfQ6ksGfMacvHby68II6sbksbZNBMdCE4uElVJcF9tMGst/ayuRUaW51phS0snQ1abmeilU9jnQToAnmQ+Klf+avKTJ0RTvSJ97GZEaoXXTS8b+wSFCmgaiWQk6zPqZlQevjVOIoDw3bHvEU62mfovL07d4lMY68YAwAUqQ634piISrnpgE2SZ3T0PXmJInhxEUw9YYb+mIfT07cNljaBkTLKjalI+fICCz/np884ZDbnpp0VG5vGfHBOSkyJjCgG1EyiIzGyxZuAerTBu5CEWjRM6NGbKwEzoMWPLxI50xBeq02mq1Yp+rqZ5DotUGzNv+sEl6mSIfUSqlgXTjsvhDGfdOTWbySe9xb5VMP5K1G8dS+ZOagomsSu6mSMMRGw6KaAs1JcH34SFbpc2Ut5YtcdUB/sd2CcF7MVbgEA6sMtFygPdDmImYV5zhiuAGC5vhPSH/NoLvPVWm8i2FrDFXidtkfsYp/OkiKfTQKX+im9Sa03rSmZmcTFzlZn9UzZWxwtZBGPKbq/7K1rMS6qYtGgaceYAtZReLkkThNkJ+CUFjn1e7YzZpBX84iE6K6Q6QU9QMDvEb0GUxMalDhu9pCGUQZjqLJgoLKx/Reae4="
    on_success: change
    on_failure: always
    on_start: never
