include *.py *.md setup.* CLA MANIFEST.in


recursive-include pyload *.py
recursive-include pyload/plugins *_2*.pyc

recursive-include pyload/remote *
recursive-exclude pyload/remote *.py[co]

recursive-include pyload/web .bowerrc .jshintrc Gruntfile.js package.json
prune pyload/web/node_modules

recursive-include pyload/web/dist *
recursive-include pyload/web/app *
prune pyload/web/app/components

recursive-include docs Makefile *.py *.conf *.rst *.svg *.png

recursive-include tests *.py *.txt *.sh *.org

recursive-include locale *.pot *.mo
