<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<link rel="stylesheet" type="text/css" href="{{theme_static('css/window.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{theme_static('css/MooDialog.css')}}"/>
<link rel="stylesheet" href="{{theme_static('vendor/Bootstrap/css/bootstrap.min.css')}}">

<link rel="icon" type="image/ico" href="{{theme_static('img/favicon.ico')}}"/>

<script type="text/javascript" src="{{theme_static('vendor/MooTools/MooTools-Core.min.js')}}"></script>
<script type="text/javascript" src="{{theme_static('vendor/MooTools/MooTools-More.min.js')}}"></script>
<script type="text/javascript" src="{{theme_static('vendor/MooTools/MooDialog/MooDialog.js')}}"></script>
<script type="text/javascript" src="{{theme_static('vendor/MooTools/Purr/purr.js')}}"></script>


<script type="text/javascript" src="{{theme_static('js/base.js')}}"></script>



<title>{% block title %}pyLoad {{_("Webinterface")}}{% endblock %}</title>

{% block head %}
{% endblock %}
</head>
<body>
<a class="anchor" name="top" id="top"></a>

<div id="head-panel">


    <div id="head-search-and-login">
    {% block headpanel %}

        {% if user.is_authenticated %}


{% if update %}
<span>
<span style="font-weight: bold; margin: 0 2px 0 2px;">{{_("pyLoad Update available!")}}</span>
</span>
{% endif %}


{% if plugins %}
<span>
<span style="font-weight: bold; margin: 0 2px 0 2px;">{{_("Plugins updated, please restart!")}}</span>
</span>
{% endif %}





    </ul>
{% else %}
    <span style="padding-right: 2px;">{{_("Please Login!")}}</span>
{% endif %}

    {% endblock %}
    </div>

        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img id="head-logo" src="{{theme_static('img/pyload_logo.png')}}" alt="pyLoad" style="height:30px;"/></a>
            </div>

    <a href="/"></a>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">

        {% macro selected(name, right=False) -%}
            {% if name in url -%}class="{% if right -%}right {% endif %}selected"{%- endif %}
            {% if name not in url and right -%}class="right"{%- endif %}
        {%- endmacro %}


        {% block menu %}
        <li>
            <a href="/" title=""><span class="glyphicon glyphicon-home"></span> {{_("Home")}}</a>
        </li>
        <li {{ selected('queue') }}>
            <a href="{{ url_for('app.queue') }}" title=""><span class="glyphicon glyphicon-tasks"></span> {{_("Queue")}}</a>
        </li>
        <li {{ selected('collector') }}>
            <a href="{{ url_for('app.collector') }}" title=""><span class="glyphicon glyphicon-magnet"></span>  {{_("Collector")}}</a>
        </li>
        <li {{ selected('downloads') }}>
            <a href="{{ url_for('app.downloads') }}" title=""> <span class="glyphicon glyphicon-download"></span> {{_("Downloads")}}</a>
        </li>
{#        <li {{ selected('filemanager') }}>#}
{#            <a href="{{ url_for('app.filemanager') }}" title=""><span class="glyphicon glyphicon-magnet"></span>  {{_("FileManager")}}</a>#}
{#        </li>#}
        <li {{ selected('logs', True) }}>
            <a href="{{ url_for('app.logs') }}"  class="action index" accesskey="x" rel="nofollow"><span class="glyphicon glyphicon-list"></span> {{_("Logs")}}</a>
        </li>
        <li {{ selected('settings', True) }}>
            <a href="{{ url_for('app.settings') }}"  class="action index" accesskey="x" rel="nofollow"><span class="glyphicon glyphicon-wrench"></span> {{_("Config")}}</a>
        </li>
        {% endblock %}


                      </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="{{theme_static('info')}}"  class="action info" rel="nofollow"><span class="glyphicon glyphicon-user"></span> {{user.name}}</a></li>
                     {% if user.is_admin %}
                     <li><a href="{{theme_static('admin')}}" class="action profile" rel="nofollow"><span class="glyphicon glyphicon-cog"></span></a></li>
                     {% endif %}
                      <li><a href="{{theme_static('info')}}"  class="action info" rel="nofollow"><span class="glyphicon glyphicon-info-sign"></span></a></li>

                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->

    </div>
</nav>
    <div style="clear:both;"></div>
</div>

{% if perms.STATUS %}
<div class="btn-group btn-group-sm" role="group" aria-label="..." style="margin-left:10px;">
  <button id="action_play" class="btn btn-default" href="#"><span class="glyphicon glyphicon-play"></span>&nbsp;</button>
  <button id="action_stop" type="button" class="btn btn-default"><span class="glyphicon glyphicon-stop"></span>&nbsp;</button>
  <button id="action_cancel" type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span>&nbsp;</button>
  <button id="action_add" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>&nbsp;</button>
</div>


{% endif %}
<span id="cap_info" style="display: {% if captcha %}inline{%else%}none{% endif %}">
<button id="action_add" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-barcode"></span><span> {{_("Captcha waiting")}}</span></button>
</span>


{% if perms.LIST %}

<div class="btn-group btn-group-sm" role="group" aria-label="..." style="margin-right:10px; float:right;">
  <button id="action_play" class="btn btn-default"><span >{{_("Download:")}}</span>&nbsp;<span  class="label label-{% if status.download %}success{% else %}danger{% endif %}">{% if status.download %}{{_("on")}}{% else %}{{_("off")}}{% endif %}</span></button>
  <button id="action_stop" type="button" class="btn btn-default"><span>{{_("Reconnect:")}}</span>&nbsp;<span class="label label-{% if status.reconnect %}success{% else %}danger{% endif %}">{% if status.reconnect %}{{_("on")}}{% else %}{{_("off")}}{% endif %}</span></button>
  <button id="action_cancel" type="button" class="btn btn-default"><span class="action backlink">{{_("Speed:")}} <b id="speed">{{ status.speed }}</b></span></button>
  <button id="action_add" type="button" class="btn btn-default"><span class="action cog">{{_("Active:")}} <b id="aktiv" title="{{_("Active")}}">{{ status.active }}</b> / <b id="aktiv_from" title="{{_("Queued")}}">{{ status.queue }}</b> / <b id="aktiv_total" title="{{_("Total")}}">{{ status.total }}</b></span></button>
</div>

{% endif %}

{% block pageactions %}
{% endblock %}
<br/>

<div id="body-wrapper" class="dokuwiki">

<div id="content" style="width: 98%; margin-left:10px; margin-rigth:10px;" lang="en" dir="ltr">

<h3>{% block subtitle %}pyLoad - {{_("Webinterface")}}{% endblock %}</h3>

{% block statusbar %}
{% endblock %}
{% for message in messages %}
    <b><p>{{message}}</p></b>
{% endfor %}

<div id="load-indicator" style="opacity: 0; float: right; margin-top: -10px;">
    <img src="{{theme_static('img/ajax-loader.gif')}}" alt="" style="padding-right: 5px"/>
    {{_("loading")}}
</div>

{% block content %}
{% endblock content %}

    <hr style="clear: both;" />

<div id="foot" style="with: 98%; margin-left: 10px; margin-right:10px">&copy; 2008-2015 pyLoad Team
<a href="#top" class="action top" accesskey="x"><span>{{_("Back to top")}}</span></a><br />
<!--<div class="breadcrumbs"></div>-->

</div>
</div>
</div>

<div style="display: none;">
    {% include theme('window.html', False) %}
    {% include theme('captcha.html', False) %}
    {% block hidden %}
    {% endblock %}
</div>
<noscript><h1>Enable JavaScript to use the webinterface.</h1></noscript>
</body>
</html>
