<br>
<div class="login">
  <form method="post" class="form-horizontal">
    <legend>Login</legend>
    <div class="control-group">
      <label class="control-label" for="inputUser">Username</label>
      <div class="controls">
        <input type="text" id="inputUser" placeholder="Username" name="username">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">Password</label>
      <div class="controls">
        <input type="password" id="inputPassword" placeholder="Password" name="password">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox"> Remember me
        </label>
        <button type="submit" class="btn">Login</button>
      </div>
    </div>
  </form>
</div>
<br>
<!-- TODO: Errors -->
