/* ----------- My Form ----------- */
.myform{
    margin:0 auto;
    width:600px;
    padding:14px;

    left:50%;
    top:150px;
    margin-left: -350px;
    position: absolute;
    background: #FFF;
    display:none;
}

/* ----------- stylized ----------- */
#add_box, #cap_box{
    border:solid 2px #b7ddf2;
    background:#ebf4fb;
}
#add_box h1, #cap_box h1 {
    font-size:14px;
    font-weight:bold;
    margin-bottom:8px;
}
#add_box p, #cap_box p{
    font-size:11px;
    color:#666666;
    margin-bottom:20px;
    border-bottom:solid 1px #b7ddf2;
    padding-bottom:10px;
}
#add_box label, #cap_box label{
    display:block;
    font-weight:bold;
    text-align:right;
    width:240px;
    float:left;
}
#add_box .small, #cap_box .small{
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:right;
    width:240px;
}
#add_box input, #cap_box input{
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:300px;
    margin:2px 0 20px 10px;
}
#add_box .cont, #cap_box .cont{
    float:left;
    font-size:12px;
    padding: 0px 10px 15px 0px;
    width:300px;
    margin:0px 0px 0px 10px;
}
#add_box .cont input, #cap_box .cont input{
    float: none;
    margin: 0px 15px 0px 1px;
}
#add_box textarea{
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:300px;
    margin:2px 0 20px 10px;
}
#add_box button, #cap_box button{
    clear:both;
    margin-left:150px;
    width:125px;
    height:31px;
    background:#666666 url(../img/button.png) no-repeat;
    text-align:center;
    line-height:31px;
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
    border: 0px;
}