<div class="file-row first span6">
    <i class="checkbox"></i>&nbsp;
        <span class="name">
        {{ name }}
        </span>
</div>
<div class="file-row second span3 {{ fileClass this }}">
    {{ fileStatus this }}
</div>

<div class="file-row third span3 pull-right">
    <i class="{{ fileIcon media }}"></i>&nbsp;
    {{ formatSize size }}
        <span class="pull-right">
            <img src="{{ pluginIcon download.plugin }}"/>
            {{ download.plugin }}&nbsp;
            <i class="icon-chevron-down" data-toggle="dropdown"></i>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" class="btn-delete"><i class="icon-trash"></i> Delete</a></li>
                <li><a href="#" class="btn-restart"><i class="icon-refresh"></i> Restart</a></li>
                <!--{# TODO: only show when finished #}-->
                <li><a href="download/{{ fid }}" target="_blank" class="btn-dowload"><i class="icon-download"></i>
                    Download</a></li>
                <li><a href="#" class="btn-share"><i class="icon-share"></i> Share</a></li>
                <li class="divider"></li>
                <li class="dropdown-submenu pull-left">
                    <a>Addons</a>
                    <ul class="dropdown-menu">
                        <li><a>Test</a></li>
                    </ul>
                </li>
            </ul>
        </span>
</div>
