<div class="span3">
    <div class="sidebar-header">
        <i class="icon-hdd"></i> Local
        <div class="pull-right" style="font-size: medium; line-height: normal">
            <i class="icon-chevron-down" style="font-size: 20px"></i>
        </div>
        <div class="clearfix"></div>
    </div>
    <ul class="package-list">

    </ul>
    <div class="sidebar-header">
        <i class="icon-group"></i> Shared
    </div>
    <ul class="package-list">
        <li>Shared content</li>
        <li>from other user</li>
    </ul>
    <div class="sidebar-header">
        <i class="icon-sitemap"></i> Remote
    </div>
    <ul>
        <li>Content from</li>
        <li>remote sites or</li>
        <li>other pyload instances</li>
    </ul>
</div>
<div class="span9">
    <ul class="file-list">

    </ul>
</div>
