/**
 * @file
 * Font styling
 */

@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: local('Abel'), local('Abel-Regular');
  src: url(../fonts/common/Abel-Regular.woff) format('woff');
     url(../fonts/common/Abel-Regular.ttf) format('truetype');
}
