/**
 * @file
 * Font styling
 */

@font-face {
    font-family: 'SansationRegular';
    src: url('fonts/Sansation_Regular-webfont.eot');
    src: url('fonts/Sansation_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Sansation_Regular-webfont.woff') format('woff'),
         url('fonts/Sansation_Regular-webfont.ttf') format('truetype'),
         url('fonts/Sansation_Regular-webfont.svg#SansationRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationLight';
    src: url('fonts/Sansation_Light-webfont.eot');
    src: url('fonts/Sansation_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Sansation_Light-webfont.woff') format('woff'),
         url('fonts/Sansation_Light-webfont.ttf') format('truetype'),
         url('fonts/Sansation_Light-webfont.svg#SansationLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationBold';
    src: url('fonts/Sansation_Bold-webfont.eot');
    src: url('fonts/Sansation_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Sansation_Bold-webfont.woff') format('woff'),
         url('fonts/Sansation_Bold-webfont.ttf') format('truetype'),
         url('fonts/Sansation_Bold-webfont.svg#SansationBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'DroidSerifRegular';
    src: url('fonts/DroidSerif-Regular-webfont.eot');
    src: url('fonts/DroidSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DroidSerif-Regular-webfont.woff') format('woff'),
         url('fonts/DroidSerif-Regular-webfont.ttf') format('truetype'),
         url('fonts/DroidSerif-Regular-webfont.svg#DroidSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSerifItalic';
    src: url('fonts/DroidSerif-Italic-webfont.eot');
    src: url('fonts/DroidSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DroidSerif-Italic-webfont.woff') format('woff'),
         url('fonts/DroidSerif-Italic-webfont.ttf') format('truetype'),
         url('fonts/DroidSerif-Italic-webfont.svg#DroidSerifItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSerifBold';
    src: url('fonts/DroidSerif-Bold-webfont.eot');
    src: url('fonts/DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DroidSerif-Bold-webfont.woff') format('woff'),
         url('fonts/DroidSerif-Bold-webfont.ttf') format('truetype'),
         url('fonts/DroidSerif-Bold-webfont.svg#DroidSerifBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSerifBoldItalic';
    src: url('fonts/DroidSerif-BoldItalic-webfont.eot');
    src: url('fonts/DroidSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DroidSerif-BoldItalic-webfont.woff') format('woff'),
         url('fonts/DroidSerif-BoldItalic-webfont.ttf') format('truetype'),
         url('fonts/DroidSerif-BoldItalic-webfont.svg#DroidSerifBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}