<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{_ "Edit account" }}</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" autocomplete="off">
        <div class="control-group">
            <label class="control-label" for="pluginSelect">
                Account
            </label>

            <div class="controls">
                <img src="{{ pluginIcon plugin }}">
                {{ loginname }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">
                Password
            </label>

            <div class="controls">
                <input type="password" id="password">
            </div>
        </div>
        {{#if options }}
        <legend>
            Options
        </legend>
        {{/if}}
        <div class="account-options">
        </div>
    </form>
</div>
<div class="modal-footer">
    <a class="btn btn-success btn-save">Save</a>
    <a class="btn btn-close">Close</a>
</div>