{% extends 'default/backbone/modal.html' %}
{% block header %}
     Add an account
{% endblock %}
{% block content %}
    <form class="form-horizontal" action="#">
    <legend>
        Please enter your account data
    </legend>
        <div class="control-group">
            <label class="control-label" for="pluginSelect">
                Plugin
            </label>
            <div class="controls">
                <input type="hidden" id="pluginSelect">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="login">
                Loginname
            </label>
            <div class="controls">
                <input type="text" id="login">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">
                Password
            </label>
            <div class="controls">
                <input type="password" id="password">
            </div>
        </div>

    </form>
{% endblock %}
{% block buttons %}
    <a href="#" class="btn btn-success btn-add">Add</a>
    <a href="#" class="btn btn-close">Close</a>
{% endblock %}