{% extends 'default/backbone/modal.html' %}
{% block header %}
    <% title %>
    <small style="background: url('icons/<% plugin %>') no-repeat right 0; background-size: 20px; padding-right: 22px">
        <% plugin %>
    </small>
{% endblock %}
{% block content %}
    <form class="form-horizontal" action="#">
        <legend><% description %></legend>
        <div class="control-group">
            <%= if captcha %>
            <label class="control-label" for="inputText"><img src="data:image/<% type %>;base64,<% captcha %>"></label>
            <div class="controls">
                <input type="text" id="inputText" name="captcha">
            </div>
            <%/if%>
            <% content %>
        </div>
    </form>
{% endblock %}
{% block buttons %}
    <a href="#" class="btn btn-success">Submit</a>
    <a href="#" class="btn btn-close">Close</a>
{% endblock %}