<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>
        {{_ "Choose a plugin" }}
    </h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <legend>
           {{_ "Please choose a plugin, which you want to configure" }}
        </legend>
        <div class="control-group">
            <label class="control-label" for="pluginSelect">
                Plugin
            </label>

            <div class="controls">
                <input type="hidden" id="pluginSelect">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <a class="btn btn-success btn-add">{{_ "Add"}}</a>
    <a class="btn btn-close">{{_ "Close"}}</a>
</div>
