<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}pyLoad {{ _("Webinterface") }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="cleartype" content="on">

    <link rel="shortcut icon" href="img/touch/apple-touch-icon.png">
    <link href="static/css/font.css" rel="stylesheet" type="text/css"/>
    {# TODO: Needs cleanup #}
    <link rel="stylesheet" href="/static/css/mobile/style.css">

    <script type="text/javascript" data-main="static/js/mobile" src="static/js/libs/require-2.0.6.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body class="viewport">
<div id="wrap">
<header>
    <div class="logo"></div>
    <span class="title">pyLoad</span>
</header>
<div id="content">
    <h2>Tech Demo</h2>
    <h3>In Development</h3>
</div>
</div>
<footer>
    Tab Bar
</footer>
<script>
    require(['mobile'], function (App) {
        App.init();
    });
</script>
</body>
</html>
