<span class="name">
    <strong>{{name }}</strong>
    <input type="text" value="{{name}}">
</span> &nbsp;
<button class="btn btn-small btn-blue btn-expand"><i class="icon-arrow-down"></i> </button>

<input type="password" value="{{password}}"
       class="password pull-right input-small" {{#unless password}}style="display: none"{{/unless}}>
<button class="btn btn-small btn-password pull-right"><i class="icon-unlock"></i> </button>
<button class="btn btn-small btn-danger btn-delete pull-right"><i class="icon-trash"></i> </button>
<button class="btn btn-small btn-success btn-add pull-right"><i class="icon-plus"></i> </button>
<table class="table table-condensed" {{#unless expanded}}style="display: none"{{/unless}}>
    <tbody>
    {{#each links}}
    {{#unless ignored}}
    <tr>
        <td class="link-name">{{ name }}</td>
        <td><img src="{{ pluginIcon plugin }}"> {{ plugin }}</td>
        <td>{{ formatsize size }}</td>
        <td>{{ linkStatus status }}</td>
        <td><button class="btn btn-danger btn-mini" data-index={{@index}}><i class="icon-trash"></i></button></td>
    </tr>
    {{/unless}}
    {{/each}}
    </tbody>
</table>
<hr>
{{ ngettext "%d link" "%d links" length }}
{{#if size}}
       - {{formatsize size}}
{{/if}} :
{{#if online}}
<span class="text-success">
    {{ online }} {{_ "online" }}
</span>
{{/if}}
{{#if offline}}
<span class="text-error">
    {{ offline }} {{_ "offline" }}
</span>
{{/if}}
{{#if unknown}}
<span class="text-info">
    {{ unknown }} {{_ "unknown" }}
</span>

<div class="plugin-list pull-right">
    {{#each plugins}}
        <span class="plugin-item{{#if ignored}} ignored{{/if}}" data-plugin="{{@key}}">
           <img src="{{ pluginIcon @key}}">
            &nbsp;{{@key}}: {{count}}
        </span>
    {{/each}}
</div>

{{/if}}
