{% extends 'default/base.html' %}

{% block title %}{{ _("Accounts") }} - {{ super() }} {% endblock %}
{% block subtitle %}{{ _("Accounts") }}
{% endblock %}

{% block css %}
    <link href="static/css/default/accounts.less" rel="stylesheet/less" type="text/css" media="screen"/>
{% endblock %}

{% block require %}
    App.initAccountView();
{% endblock %}

{% block head %}
    <script type="text/template" id="template-account">
        <td><% plugin %></td>
        <td><% loginname %></td>
        <td><% valid %></td>
        <td><% premium %></td>
        <td><% trafficleft %></td>
        <td><% shared %></td>
        <td><% activated %></td>
        <td><% shared %></td>
        <td><button type="button" class="btn btn-danger">Delete</button> </td>
    </script>
{% endblock %}

{% block actionbar %}
    <span class="span9">
        <button class="btn btn-small btn-blue btn-add">Add Account</button>
    </span>
{% endblock %}

{% block content %}
    {#  TODO: responsive layout instead of table  #}
    <div class="span10 offset2">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Plugin</th>
                <th>Name</th>
                <th>Valid</th>
                <th>Premium</th>
                <th>Traffic</th>
                <th>Shared</th>
                <th>Activated</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody id="account-content">
            </tbody>
        </table>
    </div>
{% endblock %} 