<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/default.css">
<script src="{{ MEDIA_URL }}/js/jquery-1.3.2.min.js"></script>
{% block head %}
{% endblock %}
<title>{% block title %}pyLoad Webinterface{% endblock %}</title>
<script type="text/javascript">
function LoadJsonToContent(data)
{
	JSONDATA = data;
	$("#speed").text(Math.round(data.speed/0.01)*0.01);
	$("#aktiv").text(data.queue);
	$("#aktiv_from").text(data.total);
	
	/*if( data.pause == false )
	{
		$("#action_play").hide();
		$("#action_pause").show();
	}
	else
	{
		$("#action_play").show();
		$("#action_pause").hide();
	}*/
}

$(document).ready(function(){
	//$('#action_pause').hide();
	
	
	/*$("#play").hover( 
	 function()
	 {  // mouseover 
		  $(this).attr("id", "highlight");
	 }, 
	 function()
	 {  // mouseout 
		  $(this).attr("id", "");
	 });*/
	var refreshId = setInterval(function()
   {
    $.getJSON('/json/status', LoadJsonToContent );
   }, 1000);

});
</script>
</head>

<a class="anchor" name="top" id="top"></a>

<div id="head-panel">

<div id="head-search-and-login">

{% if user.is_authenticated %}
<img src="{{ MEDIA_URL }}img/head-login.png" alt="User:" style="vertical-align:middle; margin:2px" /><span style="padding-right: 2px;">{{user.username}}</span>
	<ul id="user-actions">
		<li><a href="/logout"  class="action logout" rel="nofollow">Logout</a></li>
		{% if user.is_staff %}
		<li><a href="/admin" class="action profile" rel="nofollow">Administrate</a></li>
		{% endif %}
		<li></li>
		<li></li>
	</ul>
{% else %}
    <span style="padding-right: 2px;">Please Login!</span>
{% endif %}

	</div>

	<a href="/"><img id="head-logo" src="{{ MEDIA_URL }}img/pyload-logo-edited3.5-new-font-small.png" alt="pyLoad" /></a>

	<div id="head-menu">
		<ul>
			
		{% block menu %}
		<li class="selected">
		    <a href="/" title=""><img src="{{ MEDIA_URL }}img/head-menu-home.png" alt="" /> Home</a>
		</li>
		<li>
		    <a href="/queue/" title=""><img src="{{ MEDIA_URL }}img/head-menu-download.png" alt="" /> Queue</a></li>
		<li>
		    <a href="/downloads/" title=""><img src="{{ MEDIA_URL }}img/head-menu-development.png" alt="" /> Downloads</a></li>
		<li class="right">
		    <a href="/logs/"  class="action index" accesskey="x" rel="nofollow"><img src="{{ MEDIA_URL }}img/head-menu-index.png" alt="" />Logs</a>
		</li>
		{% endblock %}
		
		</ul>
	</div>

	<div style="clear:both;"></div>
</div>

{% if perms.pyload.can_change_status %}
<ul id="page-actions2">
	<li id="action_play"><a href="/json/unpause"  class="action play" accesskey="o" rel="nofollow">Play</a></li>
    <li id="action_stop"><a href=""  class="action stop" accesskey="o" rel="nofollow">Stop</a></li>
    <li id="action_stop"><a href="/json/pause"  class="action stop" accesskey="o" rel="nofollow" name="Stop after ending last one" alt="Stop after ending last one">SAELO</a></li>
</ul>
{% endif %}

{% if perms.pyload.can_see_dl %}
<ul id="page-actions">
	<li><a href=""  class="action backlink" accesskey="o" rel="nofollow">Speed: <b id="speed">0</b> kb/s</a></li>
    <li><a href=""  class="action cog" accesskey="o" rel="nofollow">Aktiv: <b id="aktiv">0</b> / <b id="aktiv_from">0</b></a></li>
    <li><a href=""  class="action revisions" accesskey="o" rel="nofollow">Reload page</a></li>
</ul><br />
{% endif %}

<div id="body-wrapper" class="dokuwiki">

<div id="content" lang="en" dir="ltr">

<h1>{% block subtitle %}pyLoad - Webinterface{% endblock %}</h1>

{% block statusbar %}
{% endblock %}


<br>

<div class="level1" style="clear:both">
</div>

{% for message in messages %}
	<b><p>{{message}}</p></b>
{% endfor %}

{% block content %}
{% endblock content %}

	<hr style="clear: both;" />

<div id="foot">© 2008-2010 the pyLoad Team

	<a href="#top" class="action top" accesskey="x"><span>Back to top</span></a><br />
	<!--<div class="breadcrumbs"></div>-->


</div>
</div>
</head>
<body>
