<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}pyLoad {{ _("WebUI") }}{% endblock %}</title>
    <meta name="description" content="pyLoad {{ _("Webinterface") }}">
    <meta name="viewport" content="width=device-width">

    <!-- TODO Include this font -->
    <link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css"/>
    <link href="static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/font.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/default/style.css" rel="stylesheet" type="text/css" media="screen"/>

    <script type="text/javascript" data-main="static/js/default" src="static/js/libs/require-2.0.6.js"></script>
    <script>
        require(['default'], function (App) {
            App.init();
            {% block require %}
            {% endblock %}
        });
    </script>

    {% block head %}
    {% endblock %}
</head>
<body>
<div id="wrap">
    <header>
        <div class="center">
            <div class="logo"></div>
            <span class="title">pyLoad</span>

            {% if user %}
                <div id="notification_div">
                    No runnings tasks
                    <div class="progress progress-warning progress-striped" id="globalprogress">
                        <div class="bar" style="width: 60%"></div>
                    </div>
                </div>

                <div class="header_block">
                    <div class="header_icon" id="header_user">
                        <span>{{ user.name }}</span>
                    </div>
                    <div class="header_text">
                        <a href="/logout" id="header_logout">{{ _("Logout") }}</a>
                    </div>
                </div>
                <div id="speedgraph"></div>
                <div class="header_block">
                    <div class="header_icon" id="header_speed">
                        <span class="header_text">500 kb/s</span>
                    </div>
                    <div class="header_icon" id="header_qeuue">
                        <span class="header_text">5 / 125</span>
                    </div>
                </div>
            {% endif %}
        </div>
    </header>
    <div id="content">
        {% for msg in messages %}
            <p>{{ msg }}</p>
        {% endfor %}

        {% block content %}
        {% endblock content %}
    </div>
</div>
<footer>
    <div class="center">
        <div class="logo"></div>
        <div class="block copyright">
            © 2008-2012<br>
            The pyLoad Team<br>
        </div>

        <div class="block">
            <h2 class="block-title">Powered by</h2>
            asd <br>
            dsfdsf <br>
            sdf dsg <br>
        </div>

        <div class="block">
            <h2 class="block-title">pyLoad</h2>
            <a href="/toggle_mobile">{{_("Mobile Version")}}</a> <br>
            dsfdsf <br>
            sdf dsg <br>
        </div>

        <div class="block">
            <h2 class="block-title">Community</h2>
            asd <br>
            dsfdsf <br>
            sdf dsg <br>
        </div>

        <div class="block">
            <h2 class="block-title">Development</h2>
            asd <br>
            dsfdsf <br>
            sdf dsg <br>
        </div>
    </div>
</footer>
<div id="modal-overlay" class="hide"></div>
{% block deferred %}
{% endblock deferred %}
</body>
</html>
