<!DOCTYPE html>
{# TODO: set language from config #}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}pyLoad WebUI{% endblock %}</title>
    <meta name="description" content="pyLoad WebUI">
    <meta name="viewport" content="width=device-width">

    <!-- TODO Include this font -->
    <link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css"/>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/select2.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/font.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/fontawesome.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/default/style.less" rel="stylesheet/less" type="text/css" media="screen"/>
    {% block css %}
    {% endblock %}

    <script src="/static/js/libs/less-1.3.0.min.js" type="text/javascript"></script>
    <script type="text/javascript" data-main="static/js/config" src="/static/js/libs/require-2.1.5.js"></script>
    <script>
        window.dates = {
            weeks: ['week', 'weeks'],
            days: ['day', 'days'],
            hours: ['hour', 'hours'],
            minutes: ['minute', 'minutes'],
            seconds: ['second', 'seconds']
        }; // TODO carefully when translating

        window.wsAddress = "{{ ws }}";
        window.pathPrefix = ""; // TODO

        require(['default'], function(App) {
            App.init();
            {% block require %}
            {% endblock %}
        });
    </script>
    <script type="text/template" id="template-header">
        <%= if single %>
            <% name %> (<% statusmsg %>)
        <% else %>
            <%= if downloads %>
                <% downloads %> downloads running <%= if speed %>(<% formatSize speed %>/s)<%/if%>
            <% else %>
                No running tasks
            <%/if%>
        <%/if%>
        <i class="iconf-list pull-right"></i>

{#  TODO: active animation      #}
        <div class="progress" id="globalprogress">
            <%= if single %>
                <div class="bar" style="width: <% percent %>%">
            <% else %>
                <div class="bar <%= if downloads %>running<%/if%>">
            <%/if%>
            </div>
        </div>
        <div class="sub">
        <%= if linksqueue %>
            <% linksqueue %> downloads left (<% formatSize sizequeue %>)
        <%/if%>
        <span class="pull-right">
            <% formatTime etaqueue %>
        </span>
        </div>
    </script>
    <script type="text/template" id="template-header-status">
        <span class="pull-right maxspeed"><% formatSize maxspeed %>/s</span><br>
        <span class="pull-right running"><% paused %></span><br>
        <span class="pull-right reconnect"><%= if reconnect %>true<% else %>false<%/if%></span>
    </script>

    <script type="text/template" id="template-header-progress">
        {# background-image for logo #}
        <% name %>
        <span class="pull-right"><% plugin %></span>

        <div class="progress">
            <div class="bar" style="width: <% percent %>%"></div>
        </div>
        <%= if downloading %>
            <% formatSize done %> of <% formatSize total %> (<% formatSize download.speed %>/s)
        <% else %>
            <% statusmsg %>
        <%/if%>
        <span class="pull-right">
{#            <% percent %>%#}
            <% formatTime eta %>
        </span>
    </script>

    <script type="text/template" id="template-notification">
        <%= if queries %>
        <span class="btn-query">
        Queries <span class="badge badge-info"><% queries %></span>
        </span>
        <%/if%>
        <%= if notifications %>
        <span class="btn-notification">
        Notifications <span class="badge badge-success"><% notifications %></span>
        </span>
        <%/if%>
    </%if%>
    </script>

    {% block head %}
    {% endblock %}
</head>
<body>
<div id="wrap">
    <header>
        <div class="left">
            <div class="logo"></div>
            <span class="title visible-large-screen">pyLoad</span>
        </div>
        <div class="right">
            {% if user %}
                <div class="header_block">
                    {#                    <a class="header-link" href="/settings"><i class="icon-cog icon-white"></i> Settings</a>#}
                    {#                    <a class="header-link" href="#"><i class="icon-list-alt icon-white"></i> Accounts</a>#}
                    <span class="iconbar">
                        <i class="iconf-play iconf-large"></i>&nbsp; Running&nbsp;&nbsp;
                        <i class="iconf-repeat iconf-large"></i>&nbsp; Reconnect
                    </span>
                    <br>
                    <a class="btn btn-success btn-grabber" href="#"><i class="icon-plus icon-white"></i> Add</a>

                    <div class="btn-group">
                        <a class="btn btn-blue" href="#"><i class="icon-user icon-white"></i> User</a>
                        <a class="btn btn-blue dropdown-toggle" data-toggle="dropdown" href="#"><span
                                class="caret"></span></a>
                        <ul class="dropdown-menu" style="right: 0; left: -100%">
                            <li><a href="/"><i class="iconf-list-alt"></i> Dashboard</a></li>
                            <li><a href="/settings"><i class="iconf-wrench"></i> Settings</a></li>
                            <li><a href="/accounts"><i class="iconf-key"></i> Accounts</a></li>
                            <li><a href="/admin"><i class="iconf-cogs"></i> Admin</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout"><i class="iconf-signout"></i> Logout</a></li>
                        </ul>
                    </div>

                </div>

                <div id="speedgraph" class="visible-desktop"></div>

                <div class="header_block right-border status-block">
                </div>
                <div class="header_block left-border">
                    <i class="icon-download-alt icon-white"></i> Max. Speed:<br>
                    <i class=" icon-off icon-white"></i> Running:<br>
                    <i class="icon-refresh icon-white"></i> Reconnect:<br>
                </div>

                <div id="progress-area">
                    <span id="progress-info">
                    </span>
                    <div class="popover bottom">
                        <div class="arrow"></div>
                        <div class="popover-inner">
                            <h3 class="popover-title">
                                Running...
                                <button type="button" class="close" aria-hidden="true">&times;</button>
                            </h3>
                            <div class="popover-content">
                                <ul class="progress-list"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div id="notification-area">
        </div>
        <div id="selection-area">
        </div>
    </header>
    <div id="content-container" class="container-fluid">
        <div class="row-fluid">
            <div class="span2 offset1">
                {# just a placeholder #}
            </div>
            {% block actionbar %}
            {% endblock %}
        </div>
        <div class="row-fluid" id="content">
            {#            TODO: messages #}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}

            {% block content %}
            {% endblock content %}
        </div>
    </div>
</div>
<footer>
    <div class="center">
        <div class="logo"></div>
        <div class="block copyright">
            © 2008-2013<br>
            <a href="http://pyload.org/" target="_blank">The pyLoad Team</a><br>
        </div>

        <div class="block">
            <h2 class="block-title">Powered by</h2>
            Bootstrap <br>
            Backbone <br>
            sdf dsg <br>
        </div>

        <div class="block">
            <h2 class="block-title">pyLoad</h2>
            <a href="/toggle_mobile">{{ _("Mobile Version") }}</a> <br>
            dsfdsf <br>
            sdf dsg <br>
        </div>

        <div class="block">
            <h2 class="block-title">Community</h2>
            asd <br>
            dsfdsf <br>
            sdf dsg <br>
        </div>

        <div class="block">
            <h2 class="block-title">Development</h2>
            asd <br>
            dsfdsf <br>
            sdf dsg <br>
        </div>
    </div>
</footer>
<div id="modal-overlay" class="hide"></div>
{% block deferred %}
{% endblock deferred %}
</body>
</html>
