{% extends 'default/base.html' %}
{% block head %}

<script type="text/javascript" src="/package_ui.js"></script>

<script type="text/javascript">

document.addEvent("domready", function(){
    var pUI = new PackageUI("url", 0);
});
</script>
{% endblock %}

{% block title %}{{_("Collector")}} - {{super()}} {% endblock %}
{% block subtitle %}{{_("Collector")}}{% endblock %}

{% block menu %}
<li>
    <a href="/" title=""><img src="/media/default/img/head-menu-home.png" alt="" /> {{_("Home")}}</a>
</li>
<li>
    <a href="/queue/" title=""><img src="/media/default/img/head-menu-queue.png" alt="" /> {{_("Queue")}}</a>
</li>
<li class="selected">
    <a href="/collector/" title=""><img src="/media/default/img/head-menu-collector.png" alt="" /> {{_("Collector")}}</a>
</li>
<li>
    <a href="/downloads/" title=""><img src="/media/default/img/head-menu-development.png" alt="" /> {{_("Downloads")}}</a>
</li>
<li class="right">
    <a href="/logs/"  class="action index" accesskey="x" rel="nofollow"><img src="/media/default/img/head-menu-index.png" alt="" />{{_("Logs")}}</a>
</li>
<li class="right">
    <a href="/settings/"  class="action index" accesskey="x" rel="nofollow"><img src="/media/default/img/head-menu-config.png" alt="" />{{_("Config")}}</a>
</li>{% endblock %}

{% block pageactions %}
<ul id="page-actions-more">
    <li id="del_finished"><a style="padding: 0; font-weight: bold;" href="#">{{_("Delete Finished")}}</a></li>
    <li id="restart_failed"><a style="padding: 0; font-weight: bold;" href="#">{{_("Restart Failed")}}</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="load-success" style="opacity: 0; float: right; color: white; background-color: #90ee90; padding: 4px; -moz-border-radius: 5px; border-radius: 5px; font-weight: bold; margin-left: -100%; margin-top: -10px;">{{_("success")}}</div>
<div id="load-failure" style="opacity: 0; float: right; color: white; background-color: #f08080; padding: 4px; -moz-border-radius: 5px; border-radius: 5px; font-weight: bold; margin-left: -100%; margin-top: -10px;">{{_("failure")}}</div>
<div id="load-indicator" style="opacity: 0; float: right; margin-top: -10px;">
    <img src="/media/default/img/ajax-loader.gif" alt="" style="padding-right: 5px"/>
    {{_("loading")}}
</div>

<ul id="package-list" style="list-style: none; padding-left: 0; margin-top: -10px;">
{% for id, package in content %}
    <li>
<div id="package_{{id}}" class="package">
    <div class="order" style="display: none;">{{ package.order }}</div>

    <div class="packagename" style="cursor: pointer;">
        <img class="package_drag" src="/media/default/img/folder.png" style="cursor: move; margin-bottom: -2px">
        <span class="name">{{package.name}}</span>
        &nbsp;&nbsp;
        <span class="buttons" style="opacity:0">
        <img title="{{_("Delete Package")}}" style="cursor: pointer" width="12px" height="12px" src="/media/default/img/delete.png" />
        &nbsp;&nbsp;
        <img title="{{_("Restart Package")}}" style="margin-left: -10px; cursor: pointer" height="12px" src="/media/default/img/arrow_refresh.png" />
        &nbsp;&nbsp;
        <img title="{{_("Edit Package")}}" style="margin-left: -10px; cursor: pointer" height="12px" src="/media/default/img/pencil.png" />
        &nbsp;&nbsp;
        <img title="{{_("Move Package to Queue")}}" style="margin-left: -10px; cursor: pointer" height="12px" src="/media/default/img/package_go.png" />
        </span>
    </div>
    <div id="children_{{id}}" style="display: none;" class="children">
    <span class="child_secrow">{{_("Folder:")}} <span class="folder">{{package.folder}}</span> | {{_("Password:")}} <span class="password">{{package.password}}</span> | {{_("Priority:")}} <span class="prio">{{package.priority}}</span></span>
    <ul id="sort_children_{{id}}" style="list-style: none; padding-left: 0">
    </ul>
    </div>
</div>
    </li>
{% endfor %}
</ul>

{% include "default/edit_package.html" %}

{% endblock %}