{% extends 'default/base.html' %}
{% block title %}
    {{ _("Dashboard") }} - {{ super() }}
{% endblock %}

{% block css %}
    <link href="static/css/default/dashboard.less" rel="stylesheet/less" type="text/css" media="screen"/>
{% endblock %}

{% block require %}
    App.initPackageTree();
{% endblock %}

{% block head %}
    <script type="text/template" id="template-package">
        <div class="package-header">
            <div class="package-row first">
                <span class="checkbox"></span>
                <i class="icon-folder-close icon-white"></i>&nbsp;
                <span class="name">
                Package <% pid %>: <% name %>
                </span>
            </div>
            <div class="package-row second">
                <span>
                <% stats.linksdone %> / <% stats.linkstotal %>
                </span>
                <span class="pull-right">
                    <% formatSize stats.sizedone %> / <% formatSize stats.sizetotal %>
                </span>
            </div>

            <div class="package-row third pull-right">
                <div class="tag-area">
                    <span class="badge badge-important badge-ghost"><i class="icon-tag icon-white"></i> Add Tag</span>
                    <span class="badge badge-important"><i class="icon-tag icon-white"></i> tag</span>
                    <span class="badge badge-important"><i class="icon-tag icon-white"></i> tag2</span>
                </div>
                {#                <i class="icon-wrench icon-white pull-right"></i>#}
                {#                <i class="icon-remove icon-white pull-right"></i>#}
                <div class="btn-group">
                    <button class="btn btn-mini btn-yellow"><i class="icon-play icon-white"></i></button>
                    <button class="btn btn-mini btn-yellow btn-remove"><i class="icon-remove icon-white"></i></button>
                    <button class="btn btn-mini btn-yellow"
                            data-toggle="dropdown">
                        <i class="icon-wrench icon-white"></i></button>
                    <ul class="dropdown-menu">
                        <li><a>Some</a></li>
                        <li><a>Options</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="template-file">
        <div>
            <div class="file-row first">
                File <% fid %>: <% name %>
            </div>
            <div class="file-row second">
                <% download.statusmsg %>
                <span class="pull-right">
                    Size: <% formatSize size %>
                </span>
            </div>

            <div class="file-row third">
                <% download.plugin %>
            </div>
        </div>
    </script>
{% endblock %}

{% block actionbar %}
    <ul class="actionbar nav nav-pills span8 offset1">
        <li>
            <ul class="breadcrumb">
                <li><a href="#">{{ _("Home") }}</a> <span class="divider">/</span></li>
                <li class="active">Data</li>
            </ul>
        </li>

        <li style="float: right;">
            <form class="form-search">
                <div class="input-append">
                    <input type="text" class="search-query" style="width: 100px">
                    <button type="submit" class="btn">{{ _("Search") }}</button>
                </div>
            </form>
        </li>
        <li class="dropdown" style="float: right;">
            <a class="dropdown-toggle"
               data-toggle="dropdown"
               href="#">
                Type
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a><i class="icon-ok"></i>&nbsp;Audio</a></li>
                <li><a><i class="icon-remove"></i>&nbsp;Video</a></li>
                <li><a>Archive</a></li>
            </ul>
        </li>
        <li class="dropdown" style="float: right;">
            <a class="dropdown-toggle"
               data-toggle="dropdown"
               href="#">
                More
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a>Active</a></li>
                <li><a>Failed</a></li>
            </ul>
        </li>

        <li style="float: right;">
            <a>Failed</a>
        </li>
        <li style="float: right;">
            <a>Unfinished</a>
        </li>
        <li class="active" style="float: right;">
            <a href="#" id="show_active">All</a>
        </li>
    </ul>
{% endblock %}


{% block content %}

    <div class="span4">
        <div class="sidebar-header">
            <i class="iconf-hdd"></i> Local
            <div class="pull-right" style="font-size: medium; line-height: normal">
                <i class="iconf-chevron-down" style="font-size: 20px"></i>
            </div>
            <div class="clearfix"></div>
        </div>
        <ul class="package-list">
            <li class="package-item">
                <i class="iconf-check-empty"></i>
                Package
                {#                        <div class="package-info">#}
                {#                            1/2 5MIB 100 MIB#}
                {#                        </div>#}
                <div class="package-indicator">
                    <i class="iconf-tags"></i>
                    <i class="iconf-pause"></i>
                    <i class="iconf-remove"></i>
                    <i class="iconf-tasks"></i>
                    <i class="iconf-chevron-down"></i>
                </div>
                <div class="progress">
                    <div class="bar bar-info" style="width: 50%">
                        10 MB
                    </div>
                    <div class="bar bar-danger" style="width: 20%">
                        20 MB
                    </div>
                </div>
            </li>
            <li class="package-item">
                <i class="iconf-check-empty"></i>
                many many More packages with really long names, some
                even don't fit on the screen
                <div class="package-indicator">
                    <i class="iconf-tags"></i>
                    <i class="iconf-remove"></i>
                    <i class="iconf-pause"></i>
                    <i class="iconf-tasks"></i>
                    <i class="iconf-chevron-down"></i>
                </div>
                <div class="progress">
                    <div class="bar bar-info" style="width: 50%"></div>
                </div>
            </li>
            <li class="package-item">
                <i class="iconf-check-empty"></i>
                Some.Movie.Title.2011.Language.DTS-HD.DL.1080p.BluRay.AVC.REMUX-xyzHD
                <div class="package-indicator">
                    <i class="iconf-tags"></i>
                    <i class="iconf-remove"></i>
                    <i class="iconf-pause"></i>
                    <i class="iconf-tasks"></i>
                    <i class="iconf-chevron-down"></i>
                </div>
                <div class="progress">
                    <div class="bar bar-info" style="width: 50%"></div>
                </div>
            </li>
            <li class="package-item">
                <i class="iconf-check-empty"></i>
                A.Movie.with.a.slightly.larger.Title.2012.720p.DTS.Bluray.x264-ReleaseGrp
                <div class="package-indicator">
                    <i class="iconf-tags"></i>
                    <i class="iconf-remove"></i>
                    <i class="iconf-pause"></i>
                    <i class="iconf-tasks"></i>
                    <i class="iconf-chevron-down"></i>
                </div>
                <div class="progress">
                    <div class="bar bar-info" style="width: 50%"></div>
                </div>
            </li>
        </ul>
        <div class="sidebar-header">
            <i class="iconf-group"></i> Shared
        </div>
        <ul class="package-list">
            <li>Content from</li>
            <li>Other user</li>
            <li>which they shared</li>
        </ul>
        <div class="sidebar-header">
            <i class="iconf-sitemap"></i> Remote
        </div>
        <ul>
            <li>Content from</li>
            <li>remote sites</li>
            <li>mega</li>
            <li>dropbox</li>
            <li>other pyloads</li>
        </ul>
    </div>
    <div class="span8">
        <div id="dashboard">
            {#  Build up by js #}
        </div>
    </div>

    <script src="static/js/libs/jquery-1.9.0.js"></script>
    <script src="static/js/libs/select2-3.2.js"></script>
    {#    <script src="static/js/libs/jquery.transit-0.9.9.js"></script>#}
    <script type="text/javascript">
        $('.package-item').on('mouseover', function() {
{#            $(this).children('.progress').css('height', '15px');#}
            $(this).children('.package-indicator').css('display', 'block');
        });

        $('.package-item').on('mouseout', function() {
{#            $(this).children('.progress').css('height', '4px');#}
            $(this).children('.package-indicator').css('display', 'none');
        });



        {#        $('.package-indicator').on('mouseenter', function(el) {#}
        {#            $(this).parent().transition({#}
        {#                rotateX: '180deg'#}
        {#            });#}
        {#        });#}
        {##}
        {#        $('.package-item').on('mouseout', function() {#}
        {#            $(this).transition({rotateX: '0deg'});#}
        {#        })#}

    </script>

{% endblock %}