{% extends 'default/base.html' %}
{% block title %}
    {{ _("Dashboard") }} - {{ super() }}
{% endblock %}

{% block css %}
    <link href="static/css/default/dashboard.less" rel="stylesheet/less" type="text/css" media="screen"/>
{% endblock %}

{% block require %}
    App.initDashboard();
{% endblock %}

{% block head %}
    <script type="text/template" id="template-package">
        <%= if selected %>
        <i class="iconf-check select"></i>
        <% else %>
        <i class="iconf-check-empty select"></i>
        <%/if%>
        <span class="package-name">
        <% name %>
        </span>

        <div class="package-frame">
            <div class="tag-area">
                <span class="badge badge-success"><i class="iconf-tag"></i>video</span>
                <span class="badge badge-success badge-ghost"><i class="iconf-tag"></i> Add Tag</span>
            </div>
            <div class="package-indicator">
                <i class="iconf-pause" data-toggle="tooltip" title="Pause Package"></i>
                <i class="iconf-refresh" data-toggle="tooltip" title="Restart Package"></i>
                <%= if shared %>
                <i class="iconf-eye-open" data-toggle="tooltip" title="Package is public"></i>
                <% else %>
                <i class="iconf-eye-close" data-toggle="tooltip" title="Package is private"></i>
                <%/if%>
                <i class="iconf-chevron-down" data-toggle="dropdown">
                </i>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="iconf-folder-open-alt"></i> Open</a></li>
                    <li><a href="#"><i class="iconf-edit"></i> Details</a></li>
                    <li><a href="#"><i class="iconf-trash"></i> Delete</a></li>
                    <li><a href="#"><i class="iconf-refresh"></i> Recheck</a></li>
                    <li class="divider"></li>
                    <li><a>Addons</a></li>
                </ul>
            </div>
            <div class="progress">
                <div class="bar bar-info" style="width: 50%">
                    <% stats.linksdone %>
                </div>
                <div class="bar bar-danger" style="width: 20%">
                    <% stats.linkstotal %>
                </div>
                <% formatSize stats.sizedone %> / <% formatSize stats.sizetotal %>
            </div>
        </div>
    </script>

    <script type="text/template" id="template-file">
        <div class="file-row first">
            <i class="checkbox"></i>
            <i class="iconf-file-alt"></i>&nbsp;
            <span class="name">
            <% name %>
            </span>
        </div>
        <%= if finished %>
        <div class="file-row second finished">
            <% else %> <%= if failed %>
            <div class="file-row second failed">
                <% download.error %>
                <% else %>
                <div class="file-row second">
                    <%/if%><%/if%>
                    <% download.statusmsg %>
                </div>

                <div class="file-row third pull-right">
                    {#  TODO: file type as icon  #}
                    <% formatSize size %>
                    <i class="iconf-music"></i>
                    <img src="icons/<% download.plugin %>"/>
                    <% download.plugin %>&nbsp;
                    <i class="iconf-chevron-down" data-toggle="dropdown"></i>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="iconf-trash"></i> Delete</a></li>
                        <li><a href="#"><i class="iconf-refresh"></i> Restart</a></li>
                        <li><a href="#"><i class="iconf-download"></i> Download</a></li>
                        <li><a href="#"><i class="iconf-share"></i> Share</a></li>
                        <li class="divider"></li>
                        <li><a>Addons</a></li>
                    </ul>
                </div>
    </script>

    <script type="text/template" id="template-select">
        <i class="iconf-check" data-toggle="tooltip" title="Deselect"></i>&nbsp;
        <%= if packs %><% packs %> package(s)<%/if %>
        <%= if files %>
        <%= if packs %>, <%/if %>
        <% files %> file(s)
        <%/if %>
        selected
        &nbsp;|&nbsp;
        <i class="iconf-pause" data-toggle="tooltip" title="Pause"></i>&nbsp;
        <i class="iconf-trash" data-toggle="tooltip" title="Delete"></i>&nbsp;
        <i class="iconf-refresh" data-toggle="tooltip" title="Restart"></i>
    </script>

{% endblock %}

{% block actionbar %}
    <ul class="actionbar nav nav-pills span9">
        <li>
            <ul class="breadcrumb">
                <li><a href="#">{{ _("Local") }}</a> <span class="divider">/</span></li>
                <li class="active">Data</li>
            </ul>
        </li>

        <li style="float: right;">
            <form class="form-search">
                <div class="input-append">
                    <input type="text" class="search-query" style="width: 120px">
                    <button type="submit" class="btn">{{ _("Search") }}</button>
                </div>
            </form>
        </li>
        <li style="float: right">
            <a href="#"><i class="iconf-check-empty btn-check"></i></a>
        </li>
        <li class="dropdown" style="float: right;">
            <a class="dropdown-toggle"
               data-toggle="dropdown"
               href="#">
                Type
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a><i class="icon-ok"></i>&nbsp;Audio</a></li>
                <li><a><i class="icon-ok"></i>&nbsp;Image</a></li>
                <li><a><i class="icon-ok"></i>&nbsp;Video</a></li>
                <li><a><i class="icon-ok"></i>&nbsp;Document</a></li>
                <li><a><i class="icon-remove"></i>&nbsp;Archive</a></li>
                <li><a><i class="icon-remove"></i>&nbsp;Other</a></li>
            </ul>
        </li>
        <li class="dropdown" style="float: right;">
            <a class="dropdown-toggle"
               data-toggle="dropdown"
               href="#">
                All
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a>All</a></li>
                <li><a>Finished</a></li>
                <li><a>Unfinished</a></li>
                <li><a>Failed</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}


{% block content %}

    <div class="span3">
        <div class="sidebar-header">
            <i class="iconf-hdd"></i> Local
            <div class="pull-right" style="font-size: medium; line-height: normal">
                <i class="iconf-chevron-down" style="font-size: 20px"></i>
            </div>
            <div class="clearfix"></div>
        </div>
        <ul class="package-list">
            {# Build up by js #}
        </ul>
        <div class="sidebar-header">
            <i class="iconf-group"></i> Shared
        </div>
        <ul class="package-list">
            <li>Content from</li>
            <li>Other user</li>
            <li>which they shared</li>
        </ul>
        <div class="sidebar-header">
            <i class="iconf-sitemap"></i> Remote
        </div>
        <ul>
            <li>Content from</li>
            <li>remote sites</li>
            <li>mega</li>
            <li>dropbox</li>
            <li>other pyloads</li>
        </ul>
    </div>
    <div class="span9">
        <ul class="file-list">
            {#  Build up by js #}
        </ul>
    </div>
{% endblock %}