{% extends 'default/base.html' %}
{% load i18n %}

{% block title %}Downloads - {{block.super}} {% endblock %}

{% block menu %}
<li>
    <a href="/" title=""><img src="{{ MEDIA_URL }}img/head-menu-home.png" alt="" /> {% trans "Home" %}</a>
</li>
<li>
    <a href="/queue/" title=""><img src="{{ MEDIA_URL }}img/head-menu-queue.png" alt="" /> {% trans "Queue" %}</a>
</li>
<li>
    <a href="/collector/" title=""><img src="{{ MEDIA_URL }}img/head-menu-collector.png" alt="" /> {% trans "Collector" %}</a>
</li>
<li class="selected">
    <a href="/downloads/" title=""><img src="{{ MEDIA_URL }}img/head-menu-development.png" alt="" /> {% trans "Downloads" %}</a>
</li>
<li class="right">
    <a href="/logs/"  class="action index" accesskey="x" rel="nofollow"><img src="{{ MEDIA_URL }}img/head-menu-index.png" alt="" />{% trans "Logs" %}</a>
</li>
<li class="right">
    <a href="/settings/"  class="action index" accesskey="x" rel="nofollow"><img src="{{ MEDIA_URL }}img/head-menu-config.png" alt="" />{% trans "Config" %}</a>
</li>
{% endblock %}

{% block subtitle %}
{% trans "Downloads" %}
{% endblock %}

{% block content %}

{% trans "It's recommend not to download Files bigger than ~10MB from here." %}

<ul>
    {% for folder in files.folder %}
    <li>
        {{ folder.name }}
        <ul>
        {% for file in folder.files %}
        <li><a href='{% url download 'get/' %}{{ folder.name }}/{{ file }}'>{{ file }}</a></li>
        {% endfor %}
        </ul>
    </li>
    {% endfor %}
    
    {% for file in files.files %}
    <li> <a href={% url download 'get/' %}{{ file }}>{{ file }}</a></li>
    {% endfor %}

</ul>

{% endblock %}