{% load i18n %}
<div id="pack_box" class="myform" style="z-index: 2">
<form id="pack_form" action="/json/edit_package" method="POST" enctype="multipart/form-data">
<h1>{% trans "Edit Package" %}</h1>
<p>{% trans "Edit the package detais below." %}</p>
<input name="pack_id" id="pack_id" type="hidden" value=""/> 
<label for="pack_name">{% trans "Name" %}
<span class="small">{% trans "The name of the package." %}</span>
</label>
<input id="pack_name" name="pack_name" type="text" size="20" />

<label for="pack_folder">{% trans "Folder" %}
<span class="small">{% trans "Name of subfolder for these downloads." %}</span>
</label>
<input id="pack_folder" name="pack_folder" type="text" size="20" />

<label for="pack_prio">{% trans "Priority" %}
<span class="small">{% trans "Priority of the package." %}</span>
</label>
    <select name="pack_prio" id="pack_prio">
        <option value="3">{% trans "highest" %}</option>
        <option value="2">{% trans "higher" %}</option>
        <option value="1">{% trans "high" %}</option>
        <option value="0" selected="selected">{% trans "normal" %}</option>
        <option value="-1">{% trans "low" %}</option>
        <option value="-2">{% trans "lower" %}</option>
        <option value="-3">{% trans "lowest" %}</option>
    </select>

<label for="pack_pws">{% trans "Password" %}
<span class="small">{% trans "List of password used for unrar." %}</span>
</label>
<textarea rows="3" name="pack_pws" id="pack_pws"></textarea>

<button type="submit">{% trans "Submit" %}</button>
<button id="pack_reset" style="margin-left: 0" type="reset">{% trans "Reset" %}</button>
<div class="spacer"></div>

</form>

</div>