{% extends 'default/base.html' %}

{% block head %}
    <script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}

{% block title %}{{ _("Information") }} - {{ super() }} {% endblock %}
{% block subtitle %}{{ _("Information") }}{% endblock %}

{% block content %}
    <h3>{{ _("News") }}</h3>
		<a class="twitter-timeline" data-height="250" data-chrome="nofooter" href="https://twitter.com/pyload"></a> 
    <h3>{{ _("Support") }}</h3>

    <ul>
        <li style="font-weight:bold;">
            <a href="https://github.com/pyload/pyload/wiki" target="_blank">Wiki</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="https://github.com/pyload/pyload/issues" target="_blank">Forum</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="https://twitter.com/pyload" target="_blank">Twitter</a>
        </li>
        <li style="font-weight:bold;"><a href="https://github.com/pyload/pyload/wiki/Frequently-Asked-Questions-(FAQ)" target="_blank">Documentation</a></li>
        <li style="font-weight:bold;"><a href="https://github.com/pyload/pyload/wiki/Development" target="_blank">Development</a></li>
        <li style="font-weight:bold;"><a href="https://github.com/pyload/pyload/issues" target="_blank">Issue Tracker</a></li>

    </ul>

    <h3>{{ _("System") }}</h3>
    <table class="system">
         <tr>
            <td>{{ _("Python:") }}</td>
            <td>{{ python }}</td>
        </tr>
        <tr>
            <td>{{ _("OS:") }}</td>
            <td>{{ os }}</td>
        </tr>
        <tr>
            <td>{{ _("pyLoad version:") }}</td>
            <td>{{ version }}</td>
        </tr>
        <tr>
            <td>{{ _("Installation Folder:") }}</td>
            <td>{{ folder }}</td>
        </tr>
        <tr>
            <td>{{ _("Config Folder:") }}</td>
            <td>{{ config }}</td>
        </tr>
        <tr>
            <td>{{ _("Download Folder:") }}</td>
            <td>{{ download }}</td>
        </tr>
        <tr>
            <td>{{ _("Free Space:") }}</td>
            <td>{{ freespace }}</td>
        </tr>
        <tr>
            <td>{{ _("Language:") }}</td>
            <td>{{ language }}</td>
        </tr>
        <tr>
            <td>{{ _("Webinterface Port:") }}</td>
            <td>{{ webif }}</td>
        </tr>
        <tr>
            <td>{{ _("Remote Interface Port:") }}</td>
            <td>{{ remote }}</td>
        </tr>
    </table>

{% endblock %}
