{% extends 'default/base.html' %}
{% block title %}{{_("Login")}} - {{super()}} {% endblock %}
{% block content %}
<br>
{% if logout %}
<div id="logged_out">
	<b>{{_("You were successfully logged out.")}}</b>
</div>
{% endif %}
<br>
<div class="login">
    <form action="/login" method="post" class="form-horizontal">
        <legend>Login</legend>
        <div class="control-group">
            <label class="control-label" for="inputEmail">Username</label>
            <div class="controls">
                <input type="text" id="inputEmail" placeholder="Username" name="username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">Password</label>
            <div class="controls">
                <input type="password" id="inputPassword" placeholder="Password" name="password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox"> Remember me
                </label>
                <button type="submit" class="btn">Login</button>
            </div>
        </div>
    </form>
</div>
<br>
<div style="text-align: center">
{% if errors %}
<p>{{_("Your username and password didn't match. Please try again.")}}</p>
  {{ _("To reset your login data or add an user run:") }} <b> python pyLoadCore.py -u</b>
{% endif %}
</div>
{% endblock %}