{% extends 'default/base.html' %}
{% load i18n %}

{% block title %}{% trans "Login" %} - {{block.super}} {% endblock %}

{% block content %}

<div class="centeralign">
<form action="" method="post" accept-charset="utf-8" id="login">
    <div class="no">
        <input type="hidden" name="do" value="login" />
        <fieldset>
        <legend>Login</legend>
        <label class="block" for="focus__this">
            <span>{% trans "Username" %}</span>
            {{ form.username }}
        </label>
        <br />
        <label class="block">
            <span>{% trans "Password" %}</span>
            {{ form.password }}
        </label>
        <br />
        <input type="submit" value="Login" class="button" />
        </fieldset>
    </div>
</form>

{% if form.errors %}
<p{% trans "Your username and password didn't match. Please try again." %}</p>
{% endif %}

</div>
<br>
    
{% endblock %}