{% load truncate %}
{% load quotepath %}
{% load i18n %}
<html>
<head>
	<script class="javascript">
        function chosen()
        {
            opener.ifield.value = document.forms[0].p.value;
            close();
        }
        function exit()
        {
            close();
        }
        function setInvalid() {
            document.forms[0].send.disabled = 'disabled';
            document.forms[0].p.style.color = '#FF0000';
        }
        function setValid() {
            document.forms[0].send.disabled = '';
            document.forms[0].p.style.color = '#000000';
        }
        function setFile(file)
        {
            document.forms[0].p.value = file;
            setValid();
            
        }
	</script>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/pathchooser.css"/>
</head>
<body{% ifequal type 'file' %}{% if not oldfile %} onload="setInvalid();"{% endif %}{% endifequal %}>
<center>
    <div id="paths">
	<form method="get" action="?" onSubmit="chosen();" onReset="exit();">
	    <input type="text" name="p" value="{{ oldfile|default:cwd }}" size="60" onfocus="setValid();"> 
	    <input type="submit" value="Ok" name="send">
	</form>
    
    {% ifequal type 'folder' %}
	<span class="path_abs_rel">{% trans "Path" %}: <a href="{% url path cwd|path_make_absolute|quotepath %}"{% if absolute %} style="text-decoration: underline;"{% endif %}>{% trans "absolute" %}</a> | <a href="{% url path cwd|path_make_relative|quotepath %}"{% if not absolute %} style="text-decoration: underline;"{% endif %}>{% trans "relative" %}</a></span>
    {% else %}
	<span class="path_abs_rel">{% trans "Path" %}: <a href="{% url file cwd|path_make_absolute|quotepath %}"{% if absolute %} style="text-decoration: underline;"{% endif %}>{% trans "absolute" %}</a> | <a href="{% url file cwd|path_make_relative|quotepath %}"{% if not absolute %} style="text-decoration: underline;"{% endif %}>{% trans "relative" %}</a></span>
    {% endifequal %}
    </div>
    <table border="0" cellspacing="0" cellpadding="3">
        <tr>
            <th>{% trans "name" %}</th>
            <th>{% trans "size" %}</th>
            <th>{% trans "type" %}</th>
            <th>{% trans "last modified" %}</th>
        </tr>
	{% if parentdir %}
        <tr>
            <td colspan="4">
                <a href="{% ifequal type 'folder' %}{% url path parentdir|quotepath %}{% else %}{% url file parentdir|quotepath %}{% endifequal %}"><span class="parentdir">{% trans "parent directory" %}</span></a>
            </td>
        </tr>
	{% endif %}
{% for file in files %}
        <tr>
            {% ifequal type 'folder' %}
                <td class="name">{% ifequal file.type 'dir' %}<a href="{% url path file.fullpath|quotepath %}" title="{{ file.fullpath }}"><span class="path_directory">{{ file.name|truncate:25 }}</span></a>{% else %}<span class="path_file" title="{{ file.fullpath }}">{{ file.name|truncate:25 }}{% endifequal %}</span></td>
            {% else %}
                <td class="name">{% ifequal file.type 'dir' %}<a href="{% url file file.fullpath|quotepath %}" title="{{ file.fullpath }}"><span class="file_directory">{{ file.name|truncate:25 }}</span></a>{% else %}<a href="#" onclick="setFile('{{ file.fullpath }}');" title="{{ file.fullpath }}"><span class="file_file">{{ file.name|truncate:25 }}{% endifequal %}</span></a></td>
            {% endifequal %}
            <td class="size">{{ file.size|floatformat:-2 }} {{ file.unit }}</td>
            <td class="type">{% ifequal file.type 'dir' %}directory{% else %}{{ file.ext|default:"file" }}{% endifequal %}</td>
            <td class="mtime">{{ file.modified|date:"d.m.Y - H:i:s" }}</td>
        <tr>
{% empty %}
        <tr>
            <td colspan="4">{% trans "no content" %}</td>
        </tr>
{% endfor %}
    </table>
    </center>
</body>
</html>