{% extends 'default/base.html' %}

{% block title %}Queue - {{block.super}} {% endblock %}

{% block menu %}
<li>
    <a href="{% url home %}" title=""><img src="{{ MEDIA_URL }}img/head-menu-home.png" alt="" /> Home</a>
</li>
<li class="selected">
    <a href="{% url queue %}" title=""><img src="{{ MEDIA_URL }}img/head-menu-download.png" alt="" /> Queue</a></li>
<li>
    <a href="{% url downloads %}" title=""><img src="{{ MEDIA_URL }}img/head-menu-development.png" alt="" /> Downloads</a></li>
<li class="right">
    <a href="{% url logs %}"  class="action index" accesskey="x" rel="nofollow"><img src="{{ MEDIA_URL }}img/head-menu-index.png" alt="" />Logs</a>
</li>
{% endblock %}

{% block content %}
<ul id="queue">
    {% for package in content %}
    <li class="package">
        <span class="packagename">{{ package.package_name }}</span>
        <ul class="children">
            {% for child in package.children %}
            <li class="child">{{ child.filename }}</li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
<ul>
{% endblock %}
