{% extends 'default/base.html' %}
{% load i18n %}
{% load contains %}

{% block title %}{% trans "Config" %} - {{block.super}} {% endblock %}
{% block subtitle %}{% trans "Config" %}{% endblock %}

{% block head %}
<script type="text/javascript">
    window.addEvent('domready', function()
    {
	$$('#tabs a').addEvent('click', function(e)
        {
            $$('#tabs a').removeProperty('class');
            e.target.set('class', 'selected');

            $$('div.tabContent').set('class', 'tabContent hide');
            $(e.target.get('href').substring(1)).set('class', 'tabContent');
            return false;
        });

        $$('#tabs a')[0].set('class', 'selected');
        $$('div.tabContent').set('class', 'tabContent hide');
        $$('div.tabContent')[0].set('class', 'tabContent');
    });

    
</script>

{% endblock %}

{% block menu %}
<li>
    <a href="/" title=""><img src="{{ MEDIA_URL }}img/head-menu-home.png" alt="" /> {% trans "Home" %}</a>
</li>
<li>
    <a href="/queue/" title=""><img src="{{ MEDIA_URL }}img/head-menu-queue.png" alt="" /> {% trans "Queue" %}</a>
</li>
<li>
    <a href="/collector/" title=""><img src="{{ MEDIA_URL }}img/head-menu-collector.png" alt="" /> {% trans "Collector" %}</a>
</li>
<li>
    <a href="/downloads/" title=""><img src="{{ MEDIA_URL }}img/head-menu-development.png" alt="" /> {% trans "Downloads" %}</a>
</li>
<li class="right">
    <a href="/logs/"  class="action index" accesskey="x" rel="nofollow"><img src="{{ MEDIA_URL }}img/head-menu-index.png" alt="" />{% trans "Logs" %}</a>
</li>
<li class="right selected">
    <a href="/settings/"  class="action index" accesskey="x" rel="nofollow"><img src="{{ MEDIA_URL }}img/head-menu-config.png" alt="" />{% trans "Config" %}</a>
</li>
{% endblock %}

{% block content %}

{% for message in errors %}
<b>{{message}}</b><br>
{% endfor %}
{% if conf|length > 0 %}
<div class="setfield">
    <div id="tabsback">
        <ul id="tabs">
            {% for skey, section in conf.iteritems  %}
                <li><a href="#{{skey}}">{{section.desc}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <form id="horizontalForm" action="" method="POST">

    {% for skey, section in conf.iteritems  %}
        <div class="tabContent" id="{{skey}}">
            <table class="settable">
                {% for okey, option in section.items %}
                    {% ifnotequal okey "desc" %}
                        <tr>
                            <td><label for="{{skey}}|{{okey}}" style="color:#424242;">{{option.desc}}:</label></td>
                            <td>
                                {% ifequal option.type "bool" %}
                                    <select id="{{skey}}|{{okey}}" name="{{skey}}|{{okey}}">
                                        <option {% if option.value %} selected="selected" {% endif %}value="True">{% trans "on" %}</option>
                                        <option {% if not option.value %} selected="selected" {% endif %}value="False">{% trans "off" %}</option>
                                    </select>
                                {% else %}
                                    {% if option.type|contains:";" %}
                                        <select id="{{skey}}|{{okey}}" name="{{skey}}|{{okey}}">
                                            {% for entry in option.list %}
                                                <option {% ifequal option.value entry %} selected="selected" {% endifequal %}>{{entry}}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <input id="{{skey}}|{{okey}}" name="{{skey}}|{{okey}}" type="text" value="{{option.value}}"/>
                                    {% endif %}
                                {% endifequal %}
                            </td>
                        </tr>
                    {% endifnotequal %}
                {% endfor %}
            </table>
        </div>
    {% endfor %}

    {% if conf %}
    <input class="submit" type="submit" value="{% trans "Submit" %}" />
    {% endif %}
    </form>
</div>
{% endif %}

{% endblock %}
