<div id="add_window" class="StickyWinInstance SWclearfix" style="overflow: visible;visibility: visible;display: none; position: absolute; z-index: 10000; opacity: 1; left: 0px; top: 0px;">
<div class="DefaultStickyWin" style="width: 100px;">

<div class="top">
<div class="top_ul"></div>
<div class="top_ur"><h1 class="caption dragHandle">Title</h1>
</div></div>

<div class="middle">
<div class="body">Body here
</div></div>

<div class="closeBody">
<div class="closeButtons">
<a class="closeSticky button" id="button_id">Button</a><a class="closeSticky button">Close</a>
</div>
</div>

<div class="bottom">
<div class="bottom_ll">
</div>

<div class="bottom_lr"></div>
</div>
<div class="closeButton closeSticky"></div>

</div>
</div>