remote - "Remote":
	int port : "Port" = 7227
	ip listenaddr : "Adress" = 0.0.0.0
	str username : "Username" = admin
	str password : "Password" = pwhere
ssl - "SSL":
	bool activated : "Activated"= False
	str cert : "SSL Certificate" = ssl.crt
	str key : "SSL Key" = ssl.key
webinterface - "Webinterface":
	bool activated : "Activated" = True
	str server : "Server" = builtin #builtin;lighttpd;nginx;fastcgi
	bool https : "Use HTTPS" = False
	ip host : "IP" = 0.0.0.0
	int port : "Port" = 8001
	str template : "Template" = default
xdcc - "xdcc":
	str nick : "Nickname" = pyload
	str ident : "Ident" = pyloadident
	str realname : "Realname" = pyloadreal
log - "Log":
	bool file_log : "File Log" = True
	str log_folder : "Folder" = Logs
	int log_count : "Count" = 5
general - "General":
	str language : "Language" = de #input="en;de;fr;nl;pl"
	str download_folder : "Download Folder" = Downloads
	int max_downloads : "Max Parallel Downloads" = 3
	str link_file : "File For Links" = links.txt
	str failed_file : "File For Failed Links" = failed_links.txt
	bool debug_mode : "Debug Mode" = False
	int max_download_time : "Max Download Time" = 5
	int download_speed_limit : "Download Speed Limit" = 0
	bool checksum : "Use Checksum" = True
	int min_free_space : "Min Free Space (MB)" = 200
	bool folder_per_package : "Create folder for each package" = False
	ip download_interface : "Outgoing IP address for downloads" = None
updates - "Updates":
	bool search_updates : "Search" = True
	bool install_updates : "Install" = False
reconnect - "Reconnect":
	bool activated : "Use Reconnect" = False
	str method : "Method" = None
	time startTime : "Start" = 0:00
	time endTime : "End" = 0:00
downloadTime - "Download Time":
	time start : "Start" = 0:00
	time end : "End" = 0:00
proxy - "Proxy":
	bool activated : "Activated" = False
	str adress : "Adress" = http://localhost:8080
	str protocol : "Protocol" = http