remote - "Remote":
    int port : "Port" = 7227
    ip listenaddr : "Adress" = 0.0.0.0
    str username : "Username" = admin
    str password : "Password" = pwhere
SSL - "SSL":
    bool activated : "Activated" = False
    file key : "SSL - Cert" = /home/martin/pyload/ssl.crt1
    file cert : "SSL - Key" = /home/martin/pyload/ssl.key
    int list : "A List" = [ 1 , 2 , 3 ,
						4,
						5,
						6,
						]