<div class="span3">
  <div class="logo"></div>
  <span class="title visible-large-screen">pyLoad</span>
</div>
<div class="span4 offset1">
  <div id="progress-area">
  <span id="progress-info">
  </span>
    <div class="popover bottom">
      <div class="arrow"></div>
      <div class="popover-inner">
        <h3 class="popover-title">
          <!-- TODO: the first i18n underscore is not registered as helper -->
           {{ gettext "Running ..."}}
          <button type="button" class="close" aria-hidden="true">&times;</button>
        </h3>
        <div class="popover-content">
          <ul class="progress-list"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="span4">
  <div class="header-block">
    <i class="icon-download-alt icon-white"></i> Max. Speed:<br>
    <i class="icon-off icon-white"></i> Running:<br>
    <i class="icon-refresh icon-white"></i> Reconnect:<br>
  </div>

  <div class="header-block status-block"></div>

  <div class="header-btn">
    <div class="btn-group">
      <a class="btn btn-blue btn-small" href="#"><i class="icon-user icon-white"></i> {{ name }}</a>
      <a class="btn btn-blue btn-small dropdown-toggle" data-toggle="dropdown" href="#"><span
          class="caret"></span></a>
      <ul class="dropdown-menu" style="right: 0; left: -100%">
        <li><a data-nav href="/"><i class="icon-list-alt"></i> Dashboard</a></li>
        <li><a data-nav href="/settings"><i class="icon-wrench"></i> Settings</a></li>
        <li><a data-nav href="/accounts"><i class="icon-key"></i> Accounts</a></li>
        <li><a data-nav href="/admin"><i class="icon-cogs"></i> Admin</a></li>
        <li class="divider"></li>
        <li><a data-nav href="/logout"><i class="icon-signout"></i> Logout</a></li>
      </ul>
    </div>
    <div class="btn-group lower">
      <button class="btn btn-success btn-grabber btn-mini" href="#">
        <i class="icon-plus icon-white"></i>
      </button>
      <button class="btn btn-blue btn-play btn-mini" href="#">
        <i class="icon-play icon-white"></i>
      </button>
      <button class="btn btn-danger btn-delete btn-mini" href="#">
        <i class="icon-remove icon-white"></i>
      </button>
    </div>
  </div>
<span class="visible-desktop speedgraph-container">
  <div id="speedgraph"></div>
</span>
</div>
