option:checked,
option:focus {
  background: #0078D7 linear-gradient(0deg, #0078D7 0%, #0078D7 100%);
}
optgroup,
select,
textarea {
    font-size: 11px;
}
select:focus {
  border: none !important;
  outline: none;
}
.modal-dialog {
  padding-top: 10%;
}
