body {
  overflow-x: hidden;
}

#twitter a,
#twitter a:active,
#twitter a:focus,
#twitter a:visited,
#twitter a:hover {
  text-decoration: none;
  outline: none;
  color: #337AB7;
}
#twitter p {
  color: #333;
  display:block;
  background-color: #E0E0E0;
  padding:10px;
  margin-bottom:10px;
  border-radius: 3px;
}
#twitter p:hover {
  background-color: #ECECEC;
  cursor: pointer;
}
