#plugin_form_content h3,
#core_form_content h3 {
  font-weight: bold;
  font-size: 14px;
}
.nav-settings > .active > a,
.nav-settings > .active > a:hover,
.nav-settings > .active > a:focus {
  outline: 0;
  color: #333;
  background-color: #e0e0e0;
}
.nav-settings >  li {
  margin-bottom: -2px;
}
.tab-content > .tab-pane > .panel {
  border-color: #e0e0e0;
  background-color: #e0e0e0;
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
input[type="checkbox"] {
  accent-color: #d0d0d0;
}
.tab-pane[id="users"] option:checked,
.tab-pane[id="users"] option:focus {
  background: #0078D7 linear-gradient(0deg, #0078D7 0%, #0078D7 100%);
}
optgroup.permlist,
select.permlist,
textarea.permlist {
  font-size: 11px;
}
select[disabled].permlist {
  background-color: #eee;
  color: #555;
}
